$font-headline-3-font-size: var(--font-headline-3-font-size);
$font-headline-3-text-decoration: var(--font-headline-3-text-decoration);
$font-headline-3-font-family: var(--font-headline-3-font-family);
$font-headline-3-font-weight: var(--font-headline-3-font-weight);
$font-headline-3-font-style: var(--font-headline-3-font-style);
$font-headline-3-font-stretch: var(--font-headline-3-font-stretch);
$font-headline-3-letter-spacing: var(--font-headline-3-letter-spacing);
$font-headline-3-line-height: var(--font-headline-3-line-height);
$font-headline-3-paragraph-indent: var(--font-headline-3-paragraph-indent);
$font-headline-3-text-case: var(--font-headline-3-text-case);
$font-body-1-font-size: var(--font-body-1-font-size);
$font-body-1-text-decoration: var(--font-body-1-text-decoration);
$font-body-1-font-family: var(--font-body-1-font-family);
$font-body-1-font-weight: var(--font-body-1-font-weight);
$font-body-1-font-style: var(--font-body-1-font-style);
$font-body-1-font-stretch: var(--font-body-1-font-stretch);
$font-body-1-letter-spacing: var(--font-body-1-letter-spacing);
$font-body-1-line-height: var(--font-body-1-line-height);
$font-body-1-paragraph-indent: var(--font-body-1-paragraph-indent);
$font-body-1-text-case: var(--font-body-1-text-case);
$font-body-1-bold-font-size: var(--font-body-1-bold-font-size);
$font-body-1-bold-text-decoration: var(--font-body-1-bold-text-decoration);
$font-body-1-bold-font-family: var(--font-body-1-bold-font-family);
$font-body-1-bold-font-weight: var(--font-body-1-bold-font-weight);
$font-body-1-bold-font-style: var(--font-body-1-bold-font-style);
$font-body-1-bold-font-stretch: var(--font-body-1-bold-font-stretch);
$font-body-1-bold-letter-spacing: var(--font-body-1-bold-letter-spacing);
$font-body-1-bold-line-height: var(--font-body-1-bold-line-height);
$font-body-1-bold-paragraph-indent: var(--font-body-1-bold-paragraph-indent);
$font-body-1-bold-text-case: var(--font-body-1-bold-text-case);
$font-body-2-font-size: var(--font-body-2-font-size);
$font-body-2-text-decoration: var(--font-body-2-text-decoration);
$font-body-2-font-family: var(--font-body-2-font-family);
$font-body-2-font-weight: var(--font-body-2-font-weight);
$font-body-2-font-style: var(--font-body-2-font-style);
$font-body-2-font-stretch: var(--font-body-2-font-stretch);
$font-body-2-letter-spacing: var(--font-body-2-letter-spacing);
$font-body-2-line-height: var(--font-body-2-line-height);
$font-body-2-paragraph-indent: var(--font-body-2-paragraph-indent);
$font-body-2-text-case: var(--font-body-2-text-case);
$font-body-2-bold-font-size: var(--font-body-2-bold-font-size);
$font-body-2-bold-text-decoration: var(--font-body-2-bold-text-decoration);
$font-body-2-bold-font-family: var(--font-body-2-bold-font-family);
$font-body-2-bold-font-weight: var(--font-body-2-bold-font-weight);
$font-body-2-bold-font-style: var(--font-body-2-bold-font-style);
$font-body-2-bold-font-stretch: var(--font-body-2-bold-font-stretch);
$font-body-2-bold-letter-spacing: var(--font-body-2-bold-letter-spacing);
$font-body-2-bold-line-height: var(--font-body-2-bold-line-height);
$font-body-2-bold-paragraph-indent: var(--font-body-2-bold-paragraph-indent);
$font-body-2-bold-text-case: var(--font-body-2-bold-text-case);
$font-inputfield-font-size: var(--font-inputfield-font-size);
$font-inputfield-text-decoration: var(--font-inputfield-text-decoration);
$font-inputfield-font-family: var(--font-inputfield-font-family);
$font-inputfield-font-weight: var(--font-inputfield-font-weight);
$font-inputfield-font-style: var(--font-inputfield-font-style);
$font-inputfield-font-stretch: var(--font-inputfield-font-stretch);
$font-inputfield-letter-spacing: var(--font-inputfield-letter-spacing);
$font-inputfield-line-height: var(--font-inputfield-line-height);
$font-inputfield-paragraph-indent: var(--font-inputfield-paragraph-indent);
$font-inputfield-text-case: var(--font-inputfield-text-case);
$font-desktop-headline-1-font-size: var(--font-desktop-headline-1-font-size);
$font-desktop-headline-1-text-decoration: var(--font-desktop-headline-1-text-decoration);
$font-desktop-headline-1-font-family: var(--font-desktop-headline-1-font-family);
$font-desktop-headline-1-font-weight: var(--font-desktop-headline-1-font-weight);
$font-desktop-headline-1-font-style: var(--font-desktop-headline-1-font-style);
$font-desktop-headline-1-font-stretch: var(--font-desktop-headline-1-font-stretch);
$font-desktop-headline-1-letter-spacing: var(--font-desktop-headline-1-letter-spacing);
$font-desktop-headline-1-line-height: var(--font-desktop-headline-1-line-height);
$font-desktop-headline-1-paragraph-indent: var(--font-desktop-headline-1-paragraph-indent);
$font-desktop-headline-1-text-case: var(--font-desktop-headline-1-text-case);
$font-button-text-1-font-size: var(--font-button-text-1-font-size);
$font-button-text-1-text-decoration: var(--font-button-text-1-text-decoration);
$font-button-text-1-font-family: var(--font-button-text-1-font-family);
$font-button-text-1-font-weight: var(--font-button-text-1-font-weight);
$font-button-text-1-font-style: var(--font-button-text-1-font-style);
$font-button-text-1-font-stretch: var(--font-button-text-1-font-stretch);
$font-button-text-1-letter-spacing: var(--font-button-text-1-letter-spacing);
$font-button-text-1-line-height: var(--font-button-text-1-line-height);
$font-button-text-1-paragraph-indent: var(--font-button-text-1-paragraph-indent);
$font-button-text-1-text-case: var(--font-button-text-1-text-case);
$font-button-text-2-font-size: var(--font-button-text-2-font-size);
$font-button-text-2-text-decoration: var(--font-button-text-2-text-decoration);
$font-button-text-2-font-family: var(--font-button-text-2-font-family);
$font-button-text-2-font-weight: var(--font-button-text-2-font-weight);
$font-button-text-2-font-style: var(--font-button-text-2-font-style);
$font-button-text-2-font-stretch: var(--font-button-text-2-font-stretch);
$font-button-text-2-letter-spacing: var(--font-button-text-2-letter-spacing);
$font-button-text-2-line-height: var(--font-button-text-2-line-height);
$font-button-text-2-paragraph-indent: var(--font-button-text-2-paragraph-indent);
$font-button-text-2-text-case: var(--font-button-text-2-text-case);
$font-caption-hint-font-size: var(--font-caption-hint-font-size);
$font-caption-hint-text-decoration: var(--font-caption-hint-text-decoration);
$font-caption-hint-font-family: var(--font-caption-hint-font-family);
$font-caption-hint-font-weight: var(--font-caption-hint-font-weight);
$font-caption-hint-font-style: var(--font-caption-hint-font-style);
$font-caption-hint-font-stretch: var(--font-caption-hint-font-stretch);
$font-caption-hint-letter-spacing: var(--font-caption-hint-letter-spacing);
$font-caption-hint-line-height: var(--font-caption-hint-line-height);
$font-caption-hint-paragraph-indent: var(--font-caption-hint-paragraph-indent);
$font-caption-hint-text-case: var(--font-caption-hint-text-case);
$font-overline-font-size: var(--font-overline-font-size);
$font-overline-text-decoration: var(--font-overline-text-decoration);
$font-overline-font-family: var(--font-overline-font-family);
$font-overline-font-weight: var(--font-overline-font-weight);
$font-overline-font-style: var(--font-overline-font-style);
$font-overline-font-stretch: var(--font-overline-font-stretch);
$font-overline-letter-spacing: var(--font-overline-letter-spacing);
$font-overline-line-height: var(--font-overline-line-height);
$font-overline-paragraph-indent: var(--font-overline-paragraph-indent);
$font-overline-text-case: var(--font-overline-text-case);
$font-desktop-headline-2-font-size: var(--font-desktop-headline-2-font-size);
$font-desktop-headline-2-text-decoration: var(--font-desktop-headline-2-text-decoration);
$font-desktop-headline-2-font-family: var(--font-desktop-headline-2-font-family);
$font-desktop-headline-2-font-weight: var(--font-desktop-headline-2-font-weight);
$font-desktop-headline-2-font-style: var(--font-desktop-headline-2-font-style);
$font-desktop-headline-2-font-stretch: var(--font-desktop-headline-2-font-stretch);
$font-desktop-headline-2-letter-spacing: var(--font-desktop-headline-2-letter-spacing);
$font-desktop-headline-2-line-height: var(--font-desktop-headline-2-line-height);
$font-desktop-headline-2-paragraph-indent: var(--font-desktop-headline-2-paragraph-indent);
$font-desktop-headline-2-text-case: var(--font-desktop-headline-2-text-case);
$font-styleguide-title-font-size: var(--font-styleguide-title-font-size);
$font-styleguide-title-text-decoration: var(--font-styleguide-title-text-decoration);
$font-styleguide-title-font-family: var(--font-styleguide-title-font-family);
$font-styleguide-title-font-weight: var(--font-styleguide-title-font-weight);
$font-styleguide-title-font-style: var(--font-styleguide-title-font-style);
$font-styleguide-title-font-stretch: var(--font-styleguide-title-font-stretch);
$font-styleguide-title-letter-spacing: var(--font-styleguide-title-letter-spacing);
$font-styleguide-title-line-height: var(--font-styleguide-title-line-height);
$font-styleguide-title-paragraph-indent: var(--font-styleguide-title-paragraph-indent);
$font-styleguide-title-text-case: var(--font-styleguide-title-text-case);
$font-styleguide-subtitle-font-size: var(--font-styleguide-subtitle-font-size);
$font-styleguide-subtitle-text-decoration: var(--font-styleguide-subtitle-text-decoration);
$font-styleguide-subtitle-font-family: var(--font-styleguide-subtitle-font-family);
$font-styleguide-subtitle-font-weight: var(--font-styleguide-subtitle-font-weight);
$font-styleguide-subtitle-font-style: var(--font-styleguide-subtitle-font-style);
$font-styleguide-subtitle-font-stretch: var(--font-styleguide-subtitle-font-stretch);
$font-styleguide-subtitle-letter-spacing: var(--font-styleguide-subtitle-letter-spacing);
$font-styleguide-subtitle-line-height: var(--font-styleguide-subtitle-line-height);
$font-styleguide-subtitle-paragraph-indent: var(--font-styleguide-subtitle-paragraph-indent);
$font-styleguide-subtitle-text-case: var(--font-styleguide-subtitle-text-case);
$font-styleguide-headline-1-font-size: var(--font-styleguide-headline-1-font-size);
$font-styleguide-headline-1-text-decoration: var(--font-styleguide-headline-1-text-decoration);
$font-styleguide-headline-1-font-family: var(--font-styleguide-headline-1-font-family);
$font-styleguide-headline-1-font-weight: var(--font-styleguide-headline-1-font-weight);
$font-styleguide-headline-1-font-style: var(--font-styleguide-headline-1-font-style);
$font-styleguide-headline-1-font-stretch: var(--font-styleguide-headline-1-font-stretch);
$font-styleguide-headline-1-letter-spacing: var(--font-styleguide-headline-1-letter-spacing);
$font-styleguide-headline-1-line-height: var(--font-styleguide-headline-1-line-height);
$font-styleguide-headline-1-paragraph-indent: var(--font-styleguide-headline-1-paragraph-indent);
$font-styleguide-headline-1-text-case: var(--font-styleguide-headline-1-text-case);
$font-styleguide-body-font-size: var(--font-styleguide-body-font-size);
$font-styleguide-body-text-decoration: var(--font-styleguide-body-text-decoration);
$font-styleguide-body-font-family: var(--font-styleguide-body-font-family);
$font-styleguide-body-font-weight: var(--font-styleguide-body-font-weight);
$font-styleguide-body-font-style: var(--font-styleguide-body-font-style);
$font-styleguide-body-font-stretch: var(--font-styleguide-body-font-stretch);
$font-styleguide-body-letter-spacing: var(--font-styleguide-body-letter-spacing);
$font-styleguide-body-line-height: var(--font-styleguide-body-line-height);
$font-styleguide-body-paragraph-indent: var(--font-styleguide-body-paragraph-indent);
$font-styleguide-body-text-case: var(--font-styleguide-body-text-case);
$font-mobile-headline-1-font-size: var(--font-mobile-headline-1-font-size);
$font-mobile-headline-1-text-decoration: var(--font-mobile-headline-1-text-decoration);
$font-mobile-headline-1-font-family: var(--font-mobile-headline-1-font-family);
$font-mobile-headline-1-font-weight: var(--font-mobile-headline-1-font-weight);
$font-mobile-headline-1-font-style: var(--font-mobile-headline-1-font-style);
$font-mobile-headline-1-font-stretch: var(--font-mobile-headline-1-font-stretch);
$font-mobile-headline-1-letter-spacing: var(--font-mobile-headline-1-letter-spacing);
$font-mobile-headline-1-line-height: var(--font-mobile-headline-1-line-height);
$font-mobile-headline-1-paragraph-indent: var(--font-mobile-headline-1-paragraph-indent);
$font-mobile-headline-1-text-case: var(--font-mobile-headline-1-text-case);
$font-mobile-headline-2-font-size: var(--font-mobile-headline-2-font-size);
$font-mobile-headline-2-text-decoration: var(--font-mobile-headline-2-text-decoration);
$font-mobile-headline-2-font-family: var(--font-mobile-headline-2-font-family);
$font-mobile-headline-2-font-weight: var(--font-mobile-headline-2-font-weight);
$font-mobile-headline-2-font-style: var(--font-mobile-headline-2-font-style);
$font-mobile-headline-2-font-stretch: var(--font-mobile-headline-2-font-stretch);
$font-mobile-headline-2-letter-spacing: var(--font-mobile-headline-2-letter-spacing);
$font-mobile-headline-2-line-height: var(--font-mobile-headline-2-line-height);
$font-mobile-headline-2-paragraph-indent: var(--font-mobile-headline-2-paragraph-indent);
$font-mobile-headline-2-text-case: var(--font-mobile-headline-2-text-case);
