$gradient-gradient-single-with-multiple-color-stops-rotation: 180deg !default;
$gradient-gradient-single-with-multiple-color-stops-0-step-position: 0 !default;
$gradient-gradient-single-with-multiple-color-stops-0-step-color: #ffb800 !default;
$gradient-gradient-single-with-multiple-color-stops-1-step-position: 34% !default;
$gradient-gradient-single-with-multiple-color-stops-1-step-color: #ff8a00 !default;
$gradient-gradient-single-with-multiple-color-stops-2-step-position: 65% !default;
$gradient-gradient-single-with-multiple-color-stops-2-step-color: #ff2e00 !default;
$gradient-gradient-single-with-multiple-color-stops-3-step-position: 100% !default;
$gradient-gradient-single-with-multiple-color-stops-3-step-color: #ff0000 !default;
$gradient-gradient-multiplegrad-0-rotation: 180deg !default;
$gradient-gradient-multiplegrad-0-0-step-position: 0 !default;
$gradient-gradient-multiplegrad-0-0-step-color: #ffb800 !default;
$gradient-gradient-multiplegrad-0-1-step-position: 100% !default;
$gradient-gradient-multiplegrad-0-1-step-color: #ffb800 !default;
$gradient-gradient-multiplegrad-1-rotation: 180deg !default;
$gradient-gradient-multiplegrad-1-0-step-position: 0 !default;
$gradient-gradient-multiplegrad-1-0-step-color: #ffffff !default;
$gradient-gradient-multiplegrad-1-1-step-position: 100% !default;
$gradient-gradient-multiplegrad-1-1-step-color: #ffffff !default;
