$spacing-10-top: var(--spacing-10-top);
$spacing-10-right: var(--spacing-10-right);
$spacing-10-left: var(--spacing-10-left);
$spacing-10-bottom: var(--spacing-10-bottom);
$spacing-mixed-top: var(--spacing-mixed-top);
$spacing-mixed-right: var(--spacing-mixed-right);
$spacing-mixed-left: var(--spacing-mixed-left);
$spacing-mixed-bottom: var(--spacing-mixed-bottom);
$spacing-top-top: var(--spacing-top-top);
$spacing-top-right: var(--spacing-top-right);
$spacing-top-left: var(--spacing-top-left);
$spacing-top-bottom: var(--spacing-top-bottom);
