:root {
    --gradient-gradient-single-with-multiple-color-stops-rotation: 180deg;
    --gradient-gradient-single-with-multiple-color-stops-0-step-position: 0;
    --gradient-gradient-single-with-multiple-color-stops-0-step-color: #ffb800;
    --gradient-gradient-single-with-multiple-color-stops-1-step-position: 34%;
    --gradient-gradient-single-with-multiple-color-stops-1-step-color: #ff8a00;
    --gradient-gradient-single-with-multiple-color-stops-2-step-position: 65%;
    --gradient-gradient-single-with-multiple-color-stops-2-step-color: #ff2e00;
    --gradient-gradient-single-with-multiple-color-stops-3-step-position: 100%;
    --gradient-gradient-single-with-multiple-color-stops-3-step-color: #ff0000;
    --gradient-gradient-multiplegrad-0-rotation: 180deg;
    --gradient-gradient-multiplegrad-0-0-step-position: 0;
    --gradient-gradient-multiplegrad-0-0-step-color: #ffb800;
    --gradient-gradient-multiplegrad-0-1-step-position: 100%;
    --gradient-gradient-multiplegrad-0-1-step-color: #ffb800;
    --gradient-gradient-multiplegrad-1-rotation: 180deg;
    --gradient-gradient-multiplegrad-1-0-step-position: 0;
    --gradient-gradient-multiplegrad-1-0-step-color: #ffffff;
    --gradient-gradient-multiplegrad-1-1-step-position: 100%;
    --gradient-gradient-multiplegrad-1-1-step-color: #ffffff;
}

.gradient-gradient-single-with-multiple-color-stops {
    background: radial-gradient(
        var(--gradient-gradient-single-with-multiple-color-stops-0-step-color)
            var(--gradient-gradient-single-with-multiple-color-stops-0-step-position),
        var(--gradient-gradient-single-with-multiple-color-stops-1-step-color)
            var(--gradient-gradient-single-with-multiple-color-stops-1-step-position),
        var(--gradient-gradient-single-with-multiple-color-stops-2-step-color)
            var(--gradient-gradient-single-with-multiple-color-stops-2-step-position),
        var(--gradient-gradient-single-with-multiple-color-stops-3-step-color)
            var(--gradient-gradient-single-with-multiple-color-stops-3-step-position)
    );
}
.gradient-gradient-multiplegrad-0 {
    background: linear-gradient(
        var(--gradient-gradient-multiplegrad-0-rotation),
        var(--gradient-gradient-multiplegrad-0-0-step-color) var(--gradient-gradient-multiplegrad-0-0-step-position),
        var(--gradient-gradient-multiplegrad-0-1-step-color) var(--gradient-gradient-multiplegrad-0-1-step-position)
    );
}
.gradient-gradient-multiplegrad-1 {
    background: radial-gradient(
        var(--gradient-gradient-multiplegrad-1-0-step-color) var(--gradient-gradient-multiplegrad-1-0-step-position),
        var(--gradient-gradient-multiplegrad-1-1-step-color) var(--gradient-gradient-multiplegrad-1-1-step-position)
    );
}
