.font-headline-3 {
    font-family: $font-headline-3-font-family;
    font-size: $font-headline-3-font-size;
    font-stretch: $font-headline-3-font-stretch;
    font-style: $font-headline-3-font-style;
    font-weight: $font-headline-3-font-weight;
    letter-spacing: $font-headline-3-letter-spacing;
    line-height: $font-headline-3-line-height;
    text-indent: $font-headline-3-paragraph-indent;
    text-transform: $font-headline-3-text-case;
    text-decoration: $font-headline-3-text-decoration;
}
.font-body-1 {
    font-family: $font-body-1-font-family;
    font-size: $font-body-1-font-size;
    font-stretch: $font-body-1-font-stretch;
    font-style: $font-body-1-font-style;
    font-weight: $font-body-1-font-weight;
    letter-spacing: $font-body-1-letter-spacing;
    line-height: $font-body-1-line-height;
    text-indent: $font-body-1-paragraph-indent;
    text-transform: $font-body-1-text-case;
    text-decoration: $font-body-1-text-decoration;
}
.font-body-1-bold {
    font-family: $font-body-1-bold-font-family;
    font-size: $font-body-1-bold-font-size;
    font-stretch: $font-body-1-bold-font-stretch;
    font-style: $font-body-1-bold-font-style;
    font-weight: $font-body-1-bold-font-weight;
    letter-spacing: $font-body-1-bold-letter-spacing;
    line-height: $font-body-1-bold-line-height;
    text-indent: $font-body-1-bold-paragraph-indent;
    text-transform: $font-body-1-bold-text-case;
    text-decoration: $font-body-1-bold-text-decoration;
}
.font-body-2 {
    font-family: $font-body-2-font-family;
    font-size: $font-body-2-font-size;
    font-stretch: $font-body-2-font-stretch;
    font-style: $font-body-2-font-style;
    font-weight: $font-body-2-font-weight;
    letter-spacing: $font-body-2-letter-spacing;
    line-height: $font-body-2-line-height;
    text-indent: $font-body-2-paragraph-indent;
    text-transform: $font-body-2-text-case;
    text-decoration: $font-body-2-text-decoration;
}
.font-body-2-bold {
    font-family: $font-body-2-bold-font-family;
    font-size: $font-body-2-bold-font-size;
    font-stretch: $font-body-2-bold-font-stretch;
    font-style: $font-body-2-bold-font-style;
    font-weight: $font-body-2-bold-font-weight;
    letter-spacing: $font-body-2-bold-letter-spacing;
    line-height: $font-body-2-bold-line-height;
    text-indent: $font-body-2-bold-paragraph-indent;
    text-transform: $font-body-2-bold-text-case;
    text-decoration: $font-body-2-bold-text-decoration;
}
.font-inputfield {
    font-family: $font-inputfield-font-family;
    font-size: $font-inputfield-font-size;
    font-stretch: $font-inputfield-font-stretch;
    font-style: $font-inputfield-font-style;
    font-weight: $font-inputfield-font-weight;
    letter-spacing: $font-inputfield-letter-spacing;
    line-height: $font-inputfield-line-height;
    text-indent: $font-inputfield-paragraph-indent;
    text-transform: $font-inputfield-text-case;
    text-decoration: $font-inputfield-text-decoration;
}
.font-desktop-headline-1 {
    font-family: $font-desktop-headline-1-font-family;
    font-size: $font-desktop-headline-1-font-size;
    font-stretch: $font-desktop-headline-1-font-stretch;
    font-style: $font-desktop-headline-1-font-style;
    font-weight: $font-desktop-headline-1-font-weight;
    letter-spacing: $font-desktop-headline-1-letter-spacing;
    line-height: $font-desktop-headline-1-line-height;
    text-indent: $font-desktop-headline-1-paragraph-indent;
    text-transform: $font-desktop-headline-1-text-case;
    text-decoration: $font-desktop-headline-1-text-decoration;
}
.font-button-text-1 {
    font-family: $font-button-text-1-font-family;
    font-size: $font-button-text-1-font-size;
    font-stretch: $font-button-text-1-font-stretch;
    font-style: $font-button-text-1-font-style;
    font-weight: $font-button-text-1-font-weight;
    letter-spacing: $font-button-text-1-letter-spacing;
    line-height: $font-button-text-1-line-height;
    text-indent: $font-button-text-1-paragraph-indent;
    text-transform: $font-button-text-1-text-case;
    text-decoration: $font-button-text-1-text-decoration;
}
.font-button-text-2 {
    font-family: $font-button-text-2-font-family;
    font-size: $font-button-text-2-font-size;
    font-stretch: $font-button-text-2-font-stretch;
    font-style: $font-button-text-2-font-style;
    font-weight: $font-button-text-2-font-weight;
    letter-spacing: $font-button-text-2-letter-spacing;
    line-height: $font-button-text-2-line-height;
    text-indent: $font-button-text-2-paragraph-indent;
    text-transform: $font-button-text-2-text-case;
    text-decoration: $font-button-text-2-text-decoration;
}
.font-caption-hint {
    font-family: $font-caption-hint-font-family;
    font-size: $font-caption-hint-font-size;
    font-stretch: $font-caption-hint-font-stretch;
    font-style: $font-caption-hint-font-style;
    font-weight: $font-caption-hint-font-weight;
    letter-spacing: $font-caption-hint-letter-spacing;
    line-height: $font-caption-hint-line-height;
    text-indent: $font-caption-hint-paragraph-indent;
    text-transform: $font-caption-hint-text-case;
    text-decoration: $font-caption-hint-text-decoration;
}
.font-overline {
    font-family: $font-overline-font-family;
    font-size: $font-overline-font-size;
    font-stretch: $font-overline-font-stretch;
    font-style: $font-overline-font-style;
    font-weight: $font-overline-font-weight;
    letter-spacing: $font-overline-letter-spacing;
    line-height: $font-overline-line-height;
    text-indent: $font-overline-paragraph-indent;
    text-transform: $font-overline-text-case;
    text-decoration: $font-overline-text-decoration;
}
.font-desktop-headline-2 {
    font-family: $font-desktop-headline-2-font-family;
    font-size: $font-desktop-headline-2-font-size;
    font-stretch: $font-desktop-headline-2-font-stretch;
    font-style: $font-desktop-headline-2-font-style;
    font-weight: $font-desktop-headline-2-font-weight;
    letter-spacing: $font-desktop-headline-2-letter-spacing;
    line-height: $font-desktop-headline-2-line-height;
    text-indent: $font-desktop-headline-2-paragraph-indent;
    text-transform: $font-desktop-headline-2-text-case;
    text-decoration: $font-desktop-headline-2-text-decoration;
}
.font-styleguide-title {
    font-family: $font-styleguide-title-font-family;
    font-size: $font-styleguide-title-font-size;
    font-stretch: $font-styleguide-title-font-stretch;
    font-style: $font-styleguide-title-font-style;
    font-weight: $font-styleguide-title-font-weight;
    letter-spacing: $font-styleguide-title-letter-spacing;
    line-height: $font-styleguide-title-line-height;
    text-indent: $font-styleguide-title-paragraph-indent;
    text-transform: $font-styleguide-title-text-case;
    text-decoration: $font-styleguide-title-text-decoration;
}
.font-styleguide-subtitle {
    font-family: $font-styleguide-subtitle-font-family;
    font-size: $font-styleguide-subtitle-font-size;
    font-stretch: $font-styleguide-subtitle-font-stretch;
    font-style: $font-styleguide-subtitle-font-style;
    font-weight: $font-styleguide-subtitle-font-weight;
    letter-spacing: $font-styleguide-subtitle-letter-spacing;
    line-height: $font-styleguide-subtitle-line-height;
    text-indent: $font-styleguide-subtitle-paragraph-indent;
    text-transform: $font-styleguide-subtitle-text-case;
    text-decoration: $font-styleguide-subtitle-text-decoration;
}
.font-styleguide-headline-1 {
    font-family: $font-styleguide-headline-1-font-family;
    font-size: $font-styleguide-headline-1-font-size;
    font-stretch: $font-styleguide-headline-1-font-stretch;
    font-style: $font-styleguide-headline-1-font-style;
    font-weight: $font-styleguide-headline-1-font-weight;
    letter-spacing: $font-styleguide-headline-1-letter-spacing;
    line-height: $font-styleguide-headline-1-line-height;
    text-indent: $font-styleguide-headline-1-paragraph-indent;
    text-transform: $font-styleguide-headline-1-text-case;
    text-decoration: $font-styleguide-headline-1-text-decoration;
}
.font-styleguide-body {
    font-family: $font-styleguide-body-font-family;
    font-size: $font-styleguide-body-font-size;
    font-stretch: $font-styleguide-body-font-stretch;
    font-style: $font-styleguide-body-font-style;
    font-weight: $font-styleguide-body-font-weight;
    letter-spacing: $font-styleguide-body-letter-spacing;
    line-height: $font-styleguide-body-line-height;
    text-indent: $font-styleguide-body-paragraph-indent;
    text-transform: $font-styleguide-body-text-case;
    text-decoration: $font-styleguide-body-text-decoration;
}
.font-mobile-headline-1 {
    font-family: $font-mobile-headline-1-font-family;
    font-size: $font-mobile-headline-1-font-size;
    font-stretch: $font-mobile-headline-1-font-stretch;
    font-style: $font-mobile-headline-1-font-style;
    font-weight: $font-mobile-headline-1-font-weight;
    letter-spacing: $font-mobile-headline-1-letter-spacing;
    line-height: $font-mobile-headline-1-line-height;
    text-indent: $font-mobile-headline-1-paragraph-indent;
    text-transform: $font-mobile-headline-1-text-case;
    text-decoration: $font-mobile-headline-1-text-decoration;
}
.font-mobile-headline-2 {
    font-family: $font-mobile-headline-2-font-family;
    font-size: $font-mobile-headline-2-font-size;
    font-stretch: $font-mobile-headline-2-font-stretch;
    font-style: $font-mobile-headline-2-font-style;
    font-weight: $font-mobile-headline-2-font-weight;
    letter-spacing: $font-mobile-headline-2-letter-spacing;
    line-height: $font-mobile-headline-2-line-height;
    text-indent: $font-mobile-headline-2-paragraph-indent;
    text-transform: $font-mobile-headline-2-text-case;
    text-decoration: $font-mobile-headline-2-text-decoration;
}
