$font-headline-3-font-size: 18px !default;
$font-headline-3-text-decoration: none !default;
$font-headline-3-font-family: Roboto !default;
$font-headline-3-font-weight: 400 !default;
$font-headline-3-font-style: normal !default;
$font-headline-3-font-stretch: normal !default;
$font-headline-3-letter-spacing: 0 !default;
$font-headline-3-line-height: 21.6 !default;
$font-headline-3-paragraph-indent: 0 !default;
$font-headline-3-text-case: none !default;
$font-body-1-font-size: 16px !default;
$font-body-1-text-decoration: none !default;
$font-body-1-font-family: Roboto !default;
$font-body-1-font-weight: 400 !default;
$font-body-1-font-style: normal !default;
$font-body-1-font-stretch: normal !default;
$font-body-1-letter-spacing: 0 !default;
$font-body-1-line-height: 19.2 !default;
$font-body-1-paragraph-indent: 0 !default;
$font-body-1-text-case: none !default;
$font-body-1-bold-font-size: 16px !default;
$font-body-1-bold-text-decoration: none !default;
$font-body-1-bold-font-family: Roboto !default;
$font-body-1-bold-font-weight: 500 !default;
$font-body-1-bold-font-style: normal !default;
$font-body-1-bold-font-stretch: normal !default;
$font-body-1-bold-letter-spacing: 0 !default;
$font-body-1-bold-line-height: 19.2 !default;
$font-body-1-bold-paragraph-indent: 0 !default;
$font-body-1-bold-text-case: none !default;
$font-body-2-font-size: 14px !default;
$font-body-2-text-decoration: none !default;
$font-body-2-font-family: Roboto !default;
$font-body-2-font-weight: 400 !default;
$font-body-2-font-style: normal !default;
$font-body-2-font-stretch: normal !default;
$font-body-2-letter-spacing: 0 !default;
$font-body-2-line-height: 16.8 !default;
$font-body-2-paragraph-indent: 0 !default;
$font-body-2-text-case: none !default;
$font-body-2-bold-font-size: 14px !default;
$font-body-2-bold-text-decoration: none !default;
$font-body-2-bold-font-family: Roboto !default;
$font-body-2-bold-font-weight: 500 !default;
$font-body-2-bold-font-style: normal !default;
$font-body-2-bold-font-stretch: normal !default;
$font-body-2-bold-letter-spacing: 0 !default;
$font-body-2-bold-line-height: 16.8 !default;
$font-body-2-bold-paragraph-indent: 0 !default;
$font-body-2-bold-text-case: none !default;
$font-inputfield-font-size: 16px !default;
$font-inputfield-text-decoration: none !default;
$font-inputfield-font-family: Roboto !default;
$font-inputfield-font-weight: 400 !default;
$font-inputfield-font-style: normal !default;
$font-inputfield-font-stretch: normal !default;
$font-inputfield-letter-spacing: 0 !default;
$font-inputfield-line-height: 19.2 !default;
$font-inputfield-paragraph-indent: 0 !default;
$font-inputfield-text-case: none !default;
$font-desktop-headline-1-font-size: 36px !default;
$font-desktop-headline-1-text-decoration: none !default;
$font-desktop-headline-1-font-family: Roboto !default;
$font-desktop-headline-1-font-weight: 400 !default;
$font-desktop-headline-1-font-style: normal !default;
$font-desktop-headline-1-font-stretch: normal !default;
$font-desktop-headline-1-letter-spacing: 0 !default;
$font-desktop-headline-1-line-height: 43.2 !default;
$font-desktop-headline-1-paragraph-indent: 0 !default;
$font-desktop-headline-1-text-case: none !default;
$font-button-text-1-font-size: 16px !default;
$font-button-text-1-text-decoration: none !default;
$font-button-text-1-font-family: Roboto !default;
$font-button-text-1-font-weight: 500 !default;
$font-button-text-1-font-style: normal !default;
$font-button-text-1-font-stretch: normal !default;
$font-button-text-1-letter-spacing: 0 !default;
$font-button-text-1-line-height: 19.2 !default;
$font-button-text-1-paragraph-indent: 0 !default;
$font-button-text-1-text-case: none !default;
$font-button-text-2-font-size: 14px !default;
$font-button-text-2-text-decoration: none !default;
$font-button-text-2-font-family: Roboto !default;
$font-button-text-2-font-weight: 500 !default;
$font-button-text-2-font-style: normal !default;
$font-button-text-2-font-stretch: normal !default;
$font-button-text-2-letter-spacing: 0 !default;
$font-button-text-2-line-height: 16.8 !default;
$font-button-text-2-paragraph-indent: 0 !default;
$font-button-text-2-text-case: none !default;
$font-caption-hint-font-size: 12px !default;
$font-caption-hint-text-decoration: none !default;
$font-caption-hint-font-family: Roboto !default;
$font-caption-hint-font-weight: 400 !default;
$font-caption-hint-font-style: normal !default;
$font-caption-hint-font-stretch: normal !default;
$font-caption-hint-letter-spacing: 0 !default;
$font-caption-hint-line-height: 14.4 !default;
$font-caption-hint-paragraph-indent: 0 !default;
$font-caption-hint-text-case: none !default;
$font-overline-font-size: 10px !default;
$font-overline-text-decoration: none !default;
$font-overline-font-family: Roboto !default;
$font-overline-font-weight: 400 !default;
$font-overline-font-style: normal !default;
$font-overline-font-stretch: normal !default;
$font-overline-letter-spacing: 1px !default;
$font-overline-line-height: 12 !default;
$font-overline-paragraph-indent: 0 !default;
$font-overline-text-case: uppercase !default;
$font-desktop-headline-2-font-size: 24px !default;
$font-desktop-headline-2-text-decoration: none !default;
$font-desktop-headline-2-font-family: Roboto !default;
$font-desktop-headline-2-font-weight: 400 !default;
$font-desktop-headline-2-font-style: normal !default;
$font-desktop-headline-2-font-stretch: normal !default;
$font-desktop-headline-2-letter-spacing: 0 !default;
$font-desktop-headline-2-line-height: 28.8 !default;
$font-desktop-headline-2-paragraph-indent: 0 !default;
$font-desktop-headline-2-text-case: none !default;
$font-styleguide-title-font-size: 96px !default;
$font-styleguide-title-text-decoration: none !default;
$font-styleguide-title-font-family: Roboto !default;
$font-styleguide-title-font-weight: 400 !default;
$font-styleguide-title-font-style: normal !default;
$font-styleguide-title-font-stretch: normal !default;
$font-styleguide-title-letter-spacing: 0 !default;
$font-styleguide-title-line-height: 115.2 !default;
$font-styleguide-title-paragraph-indent: 0 !default;
$font-styleguide-title-text-case: none !default;
$font-styleguide-subtitle-font-size: 24px !default;
$font-styleguide-subtitle-text-decoration: none !default;
$font-styleguide-subtitle-font-family: Roboto !default;
$font-styleguide-subtitle-font-weight: 400 !default;
$font-styleguide-subtitle-font-style: normal !default;
$font-styleguide-subtitle-font-stretch: normal !default;
$font-styleguide-subtitle-letter-spacing: 0 !default;
$font-styleguide-subtitle-line-height: 28.8 !default;
$font-styleguide-subtitle-paragraph-indent: 0 !default;
$font-styleguide-subtitle-text-case: none !default;
$font-styleguide-headline-1-font-size: 56px !default;
$font-styleguide-headline-1-text-decoration: none !default;
$font-styleguide-headline-1-font-family: Roboto !default;
$font-styleguide-headline-1-font-weight: 400 !default;
$font-styleguide-headline-1-font-style: normal !default;
$font-styleguide-headline-1-font-stretch: normal !default;
$font-styleguide-headline-1-letter-spacing: 0 !default;
$font-styleguide-headline-1-line-height: 67.2 !default;
$font-styleguide-headline-1-paragraph-indent: 0 !default;
$font-styleguide-headline-1-text-case: none !default;
$font-styleguide-body-font-size: 16px !default;
$font-styleguide-body-text-decoration: none !default;
$font-styleguide-body-font-family: Roboto !default;
$font-styleguide-body-font-weight: 400 !default;
$font-styleguide-body-font-style: normal !default;
$font-styleguide-body-font-stretch: normal !default;
$font-styleguide-body-letter-spacing: 0 !default;
$font-styleguide-body-line-height: 19.2 !default;
$font-styleguide-body-paragraph-indent: 0 !default;
$font-styleguide-body-text-case: none !default;
$font-mobile-headline-1-font-size: 28px !default;
$font-mobile-headline-1-text-decoration: none !default;
$font-mobile-headline-1-font-family: Roboto !default;
$font-mobile-headline-1-font-weight: 400 !default;
$font-mobile-headline-1-font-style: normal !default;
$font-mobile-headline-1-font-stretch: normal !default;
$font-mobile-headline-1-letter-spacing: 0 !default;
$font-mobile-headline-1-line-height: 33.6 !default;
$font-mobile-headline-1-paragraph-indent: 0 !default;
$font-mobile-headline-1-text-case: none !default;
$font-mobile-headline-2-font-size: 22px !default;
$font-mobile-headline-2-text-decoration: none !default;
$font-mobile-headline-2-font-family: Roboto !default;
$font-mobile-headline-2-font-weight: 400 !default;
$font-mobile-headline-2-font-style: normal !default;
$font-mobile-headline-2-font-stretch: normal !default;
$font-mobile-headline-2-letter-spacing: 0 !default;
$font-mobile-headline-2-line-height: 26.4 !default;
$font-mobile-headline-2-paragraph-indent: 0 !default;
$font-mobile-headline-2-text-case: none !default;
