$radius-equal-top-left: var(--radius-equal-top-left);
$radius-equal-top-right: var(--radius-equal-top-right);
$radius-equal-bottom-left: var(--radius-equal-bottom-left);
$radius-equal-bottom-right: var(--radius-equal-bottom-right);
$radius-mixed-top-left: var(--radius-mixed-top-left);
$radius-mixed-top-right: var(--radius-mixed-top-right);
$radius-mixed-bottom-left: var(--radius-mixed-bottom-left);
$radius-mixed-bottom-right: var(--radius-mixed-bottom-right);
