$motion-slide-duration: var(--motion-slide-duration);
$motion-slide-timing-function: var(--motion-slide-timing-function);
$motion-move-in-duration: var(--motion-move-in-duration);
$motion-move-in-timing-function: var(--motion-move-in-timing-function);
$motion-dissolve-duration: var(--motion-dissolve-duration);
$motion-dissolve-timing-function: var(--motion-dissolve-timing-function);
$motion-smart-duration: var(--motion-smart-duration);
$motion-smart-timing-function: var(--motion-smart-timing-function);
$motion-push-duration: var(--motion-push-duration);
$motion-push-timing-function: var(--motion-push-timing-function);
