:root {
    --motion-slide-duration: 0.3s;
    --motion-slide-timing-function: cubic-bezier(0, 1, 0, 1);
    --motion-move-in-duration: 0.5s;
    --motion-move-in-timing-function: cubic-bezier(0.41999998688697815, 1, 0, 1);
    --motion-dissolve-duration: 0.45s;
    --motion-dissolve-timing-function: cubic-bezier(0.6968395709991455, 0.06683959811925888, 0.052326660603284836, 0.9323266744613647);
    --motion-smart-duration: 0.5s;
    --motion-smart-timing-function: cubic-bezier(0, 1, 0, 1);
    --motion-push-duration: 0.5s;
    --motion-push-timing-function: cubic-bezier(0.30000001192092896, 0.699999988079071, -0.05000000074505806, -0.5);
}

.motion-slide {
    transition-duration: var(--motion-slide-duration);
    transition-timing-function: var(--motion-slide-timing-function);
}
.motion-move-in {
    transition-duration: var(--motion-move-in-duration);
    transition-timing-function: var(--motion-move-in-timing-function);
}
.motion-dissolve {
    transition-duration: var(--motion-dissolve-duration);
    transition-timing-function: var(--motion-dissolve-timing-function);
}
.motion-smart {
    transition-duration: var(--motion-smart-duration);
    transition-timing-function: var(--motion-smart-timing-function);
}
.motion-push {
    transition-duration: var(--motion-push-duration);
    transition-timing-function: var(--motion-push-timing-function);
}
