.borders-single {
    border-width: $borders-single-width;
    border-color: $borders-single-color;
}
.borders-dashed-outside {
    border-width: $borders-dashed-outside-width;
    border-color: $borders-dashed-outside-color;
}
.borders-single-style {
    border-width: $borders-single-style-width;
    border-color: $borders-single-style-color;
}
