$borders-single-width: 5px !default;
$borders-single-color: #000000 !default;
$borders-dashed-outside-width: 5px !default;
$borders-dashed-outside-color: #000000 !default;
$borders-single-style-width: 5px !default;
$borders-single-style-color: #044aff !default;
