$gradient-gradient-single-with-multiple-color-stops-rotation: var(
    --gradient-gradient-single-with-multiple-color-stops-rotation
);
$gradient-gradient-single-with-multiple-color-stops-0-step-position: var(
    --gradient-gradient-single-with-multiple-color-stops-0-step-position
);
$gradient-gradient-single-with-multiple-color-stops-0-step-color: var(
    --gradient-gradient-single-with-multiple-color-stops-0-step-color
);
$gradient-gradient-single-with-multiple-color-stops-1-step-position: var(
    --gradient-gradient-single-with-multiple-color-stops-1-step-position
);
$gradient-gradient-single-with-multiple-color-stops-1-step-color: var(
    --gradient-gradient-single-with-multiple-color-stops-1-step-color
);
$gradient-gradient-single-with-multiple-color-stops-2-step-position: var(
    --gradient-gradient-single-with-multiple-color-stops-2-step-position
);
$gradient-gradient-single-with-multiple-color-stops-2-step-color: var(
    --gradient-gradient-single-with-multiple-color-stops-2-step-color
);
$gradient-gradient-single-with-multiple-color-stops-3-step-position: var(
    --gradient-gradient-single-with-multiple-color-stops-3-step-position
);
$gradient-gradient-single-with-multiple-color-stops-3-step-color: var(
    --gradient-gradient-single-with-multiple-color-stops-3-step-color
);
$gradient-gradient-multiplegrad-0-rotation: var(--gradient-gradient-multiplegrad-0-rotation);
$gradient-gradient-multiplegrad-0-0-step-position: var(--gradient-gradient-multiplegrad-0-0-step-position);
$gradient-gradient-multiplegrad-0-0-step-color: var(--gradient-gradient-multiplegrad-0-0-step-color);
$gradient-gradient-multiplegrad-0-1-step-position: var(--gradient-gradient-multiplegrad-0-1-step-position);
$gradient-gradient-multiplegrad-0-1-step-color: var(--gradient-gradient-multiplegrad-0-1-step-color);
$gradient-gradient-multiplegrad-1-rotation: var(--gradient-gradient-multiplegrad-1-rotation);
$gradient-gradient-multiplegrad-1-0-step-position: var(--gradient-gradient-multiplegrad-1-0-step-position);
$gradient-gradient-multiplegrad-1-0-step-color: var(--gradient-gradient-multiplegrad-1-0-step-color);
$gradient-gradient-multiplegrad-1-1-step-position: var(--gradient-gradient-multiplegrad-1-1-step-position);
$gradient-gradient-multiplegrad-1-1-step-color: var(--gradient-gradient-multiplegrad-1-1-step-color);
