$motion-slide-duration: 0.3s !default;
$motion-slide-timing-function: cubic-bezier(0, 1, 0, 1) !default;
$motion-move-in-duration: 0.5s !default;
$motion-move-in-timing-function: cubic-bezier(0.41999998688697815, 1, 0, 1) !default;
$motion-dissolve-duration: 0.45s !default;
$motion-dissolve-timing-function: cubic-bezier(0.6968395709991455, 0.06683959811925888, 0.052326660603284836, 0.9323266744613647) !default;
$motion-smart-duration: 0.5s !default;
$motion-smart-timing-function: cubic-bezier(0, 1, 0, 1) !default;
$motion-push-duration: 0.5s !default;
$motion-push-timing-function: cubic-bezier(0.30000001192092896, 0.699999988079071, -0.05000000074505806, -0.5) !default;
