:root {
    --typography-headline-3-font-size: 18px;
    --typography-headline-3-text-decoration: none;
    --typography-headline-3-font-family: Roboto;
    --typography-headline-3-font-weight: 400;
    --typography-headline-3-font-style: normal;
    --typography-headline-3-font-stretch: normal;
    --typography-headline-3-letter-spacing: 0;
    --typography-headline-3-line-height: 21.6px;
    --typography-headline-3-paragraph-indent: 0;
    --typography-headline-3-paragraph-spacing: 0;
    --typography-headline-3-text-case: none;
    --typography-body-1-font-size: 16px;
    --typography-body-1-text-decoration: none;
    --typography-body-1-font-family: Roboto;
    --typography-body-1-font-weight: 400;
    --typography-body-1-font-style: normal;
    --typography-body-1-font-stretch: normal;
    --typography-body-1-letter-spacing: 0;
    --typography-body-1-line-height: 19.2px;
    --typography-body-1-paragraph-indent: 0;
    --typography-body-1-paragraph-spacing: 0;
    --typography-body-1-text-case: none;
    --typography-body-1-bold-font-size: 16px;
    --typography-body-1-bold-text-decoration: none;
    --typography-body-1-bold-font-family: Roboto;
    --typography-body-1-bold-font-weight: 500;
    --typography-body-1-bold-font-style: normal;
    --typography-body-1-bold-font-stretch: normal;
    --typography-body-1-bold-letter-spacing: 0;
    --typography-body-1-bold-line-height: 19.2px;
    --typography-body-1-bold-paragraph-indent: 0;
    --typography-body-1-bold-paragraph-spacing: 0;
    --typography-body-1-bold-text-case: none;
    --typography-body-2-font-size: 14px;
    --typography-body-2-text-decoration: none;
    --typography-body-2-font-family: Roboto;
    --typography-body-2-font-weight: 400;
    --typography-body-2-font-style: normal;
    --typography-body-2-font-stretch: normal;
    --typography-body-2-letter-spacing: 0;
    --typography-body-2-line-height: 16.8px;
    --typography-body-2-paragraph-indent: 0;
    --typography-body-2-paragraph-spacing: 0;
    --typography-body-2-text-case: none;
    --typography-body-2-bold-font-size: 14px;
    --typography-body-2-bold-text-decoration: none;
    --typography-body-2-bold-font-family: Roboto;
    --typography-body-2-bold-font-weight: 500;
    --typography-body-2-bold-font-style: normal;
    --typography-body-2-bold-font-stretch: normal;
    --typography-body-2-bold-letter-spacing: 0;
    --typography-body-2-bold-line-height: 16.8px;
    --typography-body-2-bold-paragraph-indent: 0;
    --typography-body-2-bold-paragraph-spacing: 0;
    --typography-body-2-bold-text-case: none;
    --typography-inputfield-font-size: 16px;
    --typography-inputfield-text-decoration: none;
    --typography-inputfield-font-family: Roboto;
    --typography-inputfield-font-weight: 400;
    --typography-inputfield-font-style: normal;
    --typography-inputfield-font-stretch: normal;
    --typography-inputfield-letter-spacing: 0;
    --typography-inputfield-line-height: 19.2px;
    --typography-inputfield-paragraph-indent: 0;
    --typography-inputfield-paragraph-spacing: 0;
    --typography-inputfield-text-case: none;
    --typography-desktop-headline-1-font-size: 36px;
    --typography-desktop-headline-1-text-decoration: none;
    --typography-desktop-headline-1-font-family: Roboto;
    --typography-desktop-headline-1-font-weight: 400;
    --typography-desktop-headline-1-font-style: normal;
    --typography-desktop-headline-1-font-stretch: normal;
    --typography-desktop-headline-1-letter-spacing: 0;
    --typography-desktop-headline-1-line-height: 43.2px;
    --typography-desktop-headline-1-paragraph-indent: 0;
    --typography-desktop-headline-1-paragraph-spacing: 0;
    --typography-desktop-headline-1-text-case: none;
    --typography-desktop-headline-2-font-size: 24px;
    --typography-desktop-headline-2-text-decoration: none;
    --typography-desktop-headline-2-font-family: Roboto;
    --typography-desktop-headline-2-font-weight: 400;
    --typography-desktop-headline-2-font-style: normal;
    --typography-desktop-headline-2-font-stretch: normal;
    --typography-desktop-headline-2-letter-spacing: 0;
    --typography-desktop-headline-2-line-height: 28.8px;
    --typography-desktop-headline-2-paragraph-indent: 0;
    --typography-desktop-headline-2-paragraph-spacing: 0;
    --typography-desktop-headline-2-text-case: none;
    --typography-button-text-1-font-size: 16px;
    --typography-button-text-1-text-decoration: none;
    --typography-button-text-1-font-family: Roboto;
    --typography-button-text-1-font-weight: 500;
    --typography-button-text-1-font-style: normal;
    --typography-button-text-1-font-stretch: normal;
    --typography-button-text-1-letter-spacing: 0;
    --typography-button-text-1-line-height: 19.2px;
    --typography-button-text-1-paragraph-indent: 0;
    --typography-button-text-1-paragraph-spacing: 0;
    --typography-button-text-1-text-case: none;
    --typography-button-text-2-font-size: 14px;
    --typography-button-text-2-text-decoration: none;
    --typography-button-text-2-font-family: Roboto;
    --typography-button-text-2-font-weight: 500;
    --typography-button-text-2-font-style: normal;
    --typography-button-text-2-font-stretch: normal;
    --typography-button-text-2-letter-spacing: 0;
    --typography-button-text-2-line-height: 16.8px;
    --typography-button-text-2-paragraph-indent: 0;
    --typography-button-text-2-paragraph-spacing: 0;
    --typography-button-text-2-text-case: none;
    --typography-caption-hint-font-size: 12px;
    --typography-caption-hint-text-decoration: none;
    --typography-caption-hint-font-family: Roboto;
    --typography-caption-hint-font-weight: 400;
    --typography-caption-hint-font-style: normal;
    --typography-caption-hint-font-stretch: normal;
    --typography-caption-hint-letter-spacing: 0;
    --typography-caption-hint-line-height: 14.4px;
    --typography-caption-hint-paragraph-indent: 0;
    --typography-caption-hint-paragraph-spacing: 0;
    --typography-caption-hint-text-case: none;
    --typography-overline-font-size: 10px;
    --typography-overline-text-decoration: none;
    --typography-overline-font-family: Roboto;
    --typography-overline-font-weight: 400;
    --typography-overline-font-style: normal;
    --typography-overline-font-stretch: normal;
    --typography-overline-letter-spacing: 1px;
    --typography-overline-line-height: 12px;
    --typography-overline-paragraph-indent: 0;
    --typography-overline-paragraph-spacing: 0;
    --typography-overline-text-case: uppercase;
    --typography-styleguide-title-font-size: 96px;
    --typography-styleguide-title-text-decoration: none;
    --typography-styleguide-title-font-family: Roboto;
    --typography-styleguide-title-font-weight: 400;
    --typography-styleguide-title-font-style: normal;
    --typography-styleguide-title-font-stretch: normal;
    --typography-styleguide-title-letter-spacing: 0;
    --typography-styleguide-title-line-height: 115.2px;
    --typography-styleguide-title-paragraph-indent: 0;
    --typography-styleguide-title-paragraph-spacing: 0;
    --typography-styleguide-title-text-case: none;
    --typography-styleguide-subtitle-font-size: 24px;
    --typography-styleguide-subtitle-text-decoration: none;
    --typography-styleguide-subtitle-font-family: Roboto;
    --typography-styleguide-subtitle-font-weight: 400;
    --typography-styleguide-subtitle-font-style: normal;
    --typography-styleguide-subtitle-font-stretch: normal;
    --typography-styleguide-subtitle-letter-spacing: 0;
    --typography-styleguide-subtitle-line-height: 28.8px;
    --typography-styleguide-subtitle-paragraph-indent: 0;
    --typography-styleguide-subtitle-paragraph-spacing: 0;
    --typography-styleguide-subtitle-text-case: none;
    --typography-styleguide-headline-1-font-size: 56px;
    --typography-styleguide-headline-1-text-decoration: none;
    --typography-styleguide-headline-1-font-family: Roboto;
    --typography-styleguide-headline-1-font-weight: 400;
    --typography-styleguide-headline-1-font-style: normal;
    --typography-styleguide-headline-1-font-stretch: normal;
    --typography-styleguide-headline-1-letter-spacing: 0;
    --typography-styleguide-headline-1-line-height: 67.2px;
    --typography-styleguide-headline-1-paragraph-indent: 0;
    --typography-styleguide-headline-1-paragraph-spacing: 0;
    --typography-styleguide-headline-1-text-case: none;
    --typography-styleguide-body-font-size: 16px;
    --typography-styleguide-body-text-decoration: none;
    --typography-styleguide-body-font-family: Roboto;
    --typography-styleguide-body-font-weight: 400;
    --typography-styleguide-body-font-style: normal;
    --typography-styleguide-body-font-stretch: normal;
    --typography-styleguide-body-letter-spacing: 0;
    --typography-styleguide-body-line-height: 19.2px;
    --typography-styleguide-body-paragraph-indent: 0;
    --typography-styleguide-body-paragraph-spacing: 0;
    --typography-styleguide-body-text-case: none;
    --typography-mobile-headline-1-font-size: 28px;
    --typography-mobile-headline-1-text-decoration: none;
    --typography-mobile-headline-1-font-family: Roboto;
    --typography-mobile-headline-1-font-weight: 400;
    --typography-mobile-headline-1-font-style: normal;
    --typography-mobile-headline-1-font-stretch: normal;
    --typography-mobile-headline-1-letter-spacing: 0;
    --typography-mobile-headline-1-line-height: 33.6px;
    --typography-mobile-headline-1-paragraph-indent: 0;
    --typography-mobile-headline-1-paragraph-spacing: 0;
    --typography-mobile-headline-1-text-case: none;
    --typography-mobile-headline-2-font-size: 22px;
    --typography-mobile-headline-2-text-decoration: none;
    --typography-mobile-headline-2-font-family: Roboto;
    --typography-mobile-headline-2-font-weight: 400;
    --typography-mobile-headline-2-font-style: normal;
    --typography-mobile-headline-2-font-stretch: normal;
    --typography-mobile-headline-2-letter-spacing: 0;
    --typography-mobile-headline-2-line-height: 26.4px;
    --typography-mobile-headline-2-paragraph-indent: 0;
    --typography-mobile-headline-2-paragraph-spacing: 0;
    --typography-mobile-headline-2-text-case: none;
}

.typography-headline-3 {
    font-family: var(--typography-headline-3-font-family);
    font-size: var(--typography-headline-3-font-size);
    font-stretch: var(--typography-headline-3-font-stretch);
    font-style: var(--typography-headline-3-font-style);
    font-weight: var(--typography-headline-3-font-weight);
    letter-spacing: var(--typography-headline-3-letter-spacing);
    line-height: var(--typography-headline-3-line-height);
    text-indent: var(--typography-headline-3-paragraph-indent);
    text-transform: var(--typography-headline-3-text-case);
    text-decoration: var(--typography-headline-3-text-decoration);
}
.typography-body-1 {
    font-family: var(--typography-body-1-font-family);
    font-size: var(--typography-body-1-font-size);
    font-stretch: var(--typography-body-1-font-stretch);
    font-style: var(--typography-body-1-font-style);
    font-weight: var(--typography-body-1-font-weight);
    letter-spacing: var(--typography-body-1-letter-spacing);
    line-height: var(--typography-body-1-line-height);
    text-indent: var(--typography-body-1-paragraph-indent);
    text-transform: var(--typography-body-1-text-case);
    text-decoration: var(--typography-body-1-text-decoration);
}
.typography-body-1-bold {
    font-family: var(--typography-body-1-bold-font-family);
    font-size: var(--typography-body-1-bold-font-size);
    font-stretch: var(--typography-body-1-bold-font-stretch);
    font-style: var(--typography-body-1-bold-font-style);
    font-weight: var(--typography-body-1-bold-font-weight);
    letter-spacing: var(--typography-body-1-bold-letter-spacing);
    line-height: var(--typography-body-1-bold-line-height);
    text-indent: var(--typography-body-1-bold-paragraph-indent);
    text-transform: var(--typography-body-1-bold-text-case);
    text-decoration: var(--typography-body-1-bold-text-decoration);
}
.typography-body-2 {
    font-family: var(--typography-body-2-font-family);
    font-size: var(--typography-body-2-font-size);
    font-stretch: var(--typography-body-2-font-stretch);
    font-style: var(--typography-body-2-font-style);
    font-weight: var(--typography-body-2-font-weight);
    letter-spacing: var(--typography-body-2-letter-spacing);
    line-height: var(--typography-body-2-line-height);
    text-indent: var(--typography-body-2-paragraph-indent);
    text-transform: var(--typography-body-2-text-case);
    text-decoration: var(--typography-body-2-text-decoration);
}
.typography-body-2-bold {
    font-family: var(--typography-body-2-bold-font-family);
    font-size: var(--typography-body-2-bold-font-size);
    font-stretch: var(--typography-body-2-bold-font-stretch);
    font-style: var(--typography-body-2-bold-font-style);
    font-weight: var(--typography-body-2-bold-font-weight);
    letter-spacing: var(--typography-body-2-bold-letter-spacing);
    line-height: var(--typography-body-2-bold-line-height);
    text-indent: var(--typography-body-2-bold-paragraph-indent);
    text-transform: var(--typography-body-2-bold-text-case);
    text-decoration: var(--typography-body-2-bold-text-decoration);
}
.typography-inputfield {
    font-family: var(--typography-inputfield-font-family);
    font-size: var(--typography-inputfield-font-size);
    font-stretch: var(--typography-inputfield-font-stretch);
    font-style: var(--typography-inputfield-font-style);
    font-weight: var(--typography-inputfield-font-weight);
    letter-spacing: var(--typography-inputfield-letter-spacing);
    line-height: var(--typography-inputfield-line-height);
    text-indent: var(--typography-inputfield-paragraph-indent);
    text-transform: var(--typography-inputfield-text-case);
    text-decoration: var(--typography-inputfield-text-decoration);
}
.typography-desktop-headline-1 {
    font-family: var(--typography-desktop-headline-1-font-family);
    font-size: var(--typography-desktop-headline-1-font-size);
    font-stretch: var(--typography-desktop-headline-1-font-stretch);
    font-style: var(--typography-desktop-headline-1-font-style);
    font-weight: var(--typography-desktop-headline-1-font-weight);
    letter-spacing: var(--typography-desktop-headline-1-letter-spacing);
    line-height: var(--typography-desktop-headline-1-line-height);
    text-indent: var(--typography-desktop-headline-1-paragraph-indent);
    text-transform: var(--typography-desktop-headline-1-text-case);
    text-decoration: var(--typography-desktop-headline-1-text-decoration);
}
.typography-desktop-headline-2 {
    font-family: var(--typography-desktop-headline-2-font-family);
    font-size: var(--typography-desktop-headline-2-font-size);
    font-stretch: var(--typography-desktop-headline-2-font-stretch);
    font-style: var(--typography-desktop-headline-2-font-style);
    font-weight: var(--typography-desktop-headline-2-font-weight);
    letter-spacing: var(--typography-desktop-headline-2-letter-spacing);
    line-height: var(--typography-desktop-headline-2-line-height);
    text-indent: var(--typography-desktop-headline-2-paragraph-indent);
    text-transform: var(--typography-desktop-headline-2-text-case);
    text-decoration: var(--typography-desktop-headline-2-text-decoration);
}
.typography-button-text-1 {
    font-family: var(--typography-button-text-1-font-family);
    font-size: var(--typography-button-text-1-font-size);
    font-stretch: var(--typography-button-text-1-font-stretch);
    font-style: var(--typography-button-text-1-font-style);
    font-weight: var(--typography-button-text-1-font-weight);
    letter-spacing: var(--typography-button-text-1-letter-spacing);
    line-height: var(--typography-button-text-1-line-height);
    text-indent: var(--typography-button-text-1-paragraph-indent);
    text-transform: var(--typography-button-text-1-text-case);
    text-decoration: var(--typography-button-text-1-text-decoration);
}
.typography-button-text-2 {
    font-family: var(--typography-button-text-2-font-family);
    font-size: var(--typography-button-text-2-font-size);
    font-stretch: var(--typography-button-text-2-font-stretch);
    font-style: var(--typography-button-text-2-font-style);
    font-weight: var(--typography-button-text-2-font-weight);
    letter-spacing: var(--typography-button-text-2-letter-spacing);
    line-height: var(--typography-button-text-2-line-height);
    text-indent: var(--typography-button-text-2-paragraph-indent);
    text-transform: var(--typography-button-text-2-text-case);
    text-decoration: var(--typography-button-text-2-text-decoration);
}
.typography-caption-hint {
    font-family: var(--typography-caption-hint-font-family);
    font-size: var(--typography-caption-hint-font-size);
    font-stretch: var(--typography-caption-hint-font-stretch);
    font-style: var(--typography-caption-hint-font-style);
    font-weight: var(--typography-caption-hint-font-weight);
    letter-spacing: var(--typography-caption-hint-letter-spacing);
    line-height: var(--typography-caption-hint-line-height);
    text-indent: var(--typography-caption-hint-paragraph-indent);
    text-transform: var(--typography-caption-hint-text-case);
    text-decoration: var(--typography-caption-hint-text-decoration);
}
.typography-overline {
    font-family: var(--typography-overline-font-family);
    font-size: var(--typography-overline-font-size);
    font-stretch: var(--typography-overline-font-stretch);
    font-style: var(--typography-overline-font-style);
    font-weight: var(--typography-overline-font-weight);
    letter-spacing: var(--typography-overline-letter-spacing);
    line-height: var(--typography-overline-line-height);
    text-indent: var(--typography-overline-paragraph-indent);
    text-transform: var(--typography-overline-text-case);
    text-decoration: var(--typography-overline-text-decoration);
}
.typography-styleguide-title {
    font-family: var(--typography-styleguide-title-font-family);
    font-size: var(--typography-styleguide-title-font-size);
    font-stretch: var(--typography-styleguide-title-font-stretch);
    font-style: var(--typography-styleguide-title-font-style);
    font-weight: var(--typography-styleguide-title-font-weight);
    letter-spacing: var(--typography-styleguide-title-letter-spacing);
    line-height: var(--typography-styleguide-title-line-height);
    text-indent: var(--typography-styleguide-title-paragraph-indent);
    text-transform: var(--typography-styleguide-title-text-case);
    text-decoration: var(--typography-styleguide-title-text-decoration);
}
.typography-styleguide-subtitle {
    font-family: var(--typography-styleguide-subtitle-font-family);
    font-size: var(--typography-styleguide-subtitle-font-size);
    font-stretch: var(--typography-styleguide-subtitle-font-stretch);
    font-style: var(--typography-styleguide-subtitle-font-style);
    font-weight: var(--typography-styleguide-subtitle-font-weight);
    letter-spacing: var(--typography-styleguide-subtitle-letter-spacing);
    line-height: var(--typography-styleguide-subtitle-line-height);
    text-indent: var(--typography-styleguide-subtitle-paragraph-indent);
    text-transform: var(--typography-styleguide-subtitle-text-case);
    text-decoration: var(--typography-styleguide-subtitle-text-decoration);
}
.typography-styleguide-headline-1 {
    font-family: var(--typography-styleguide-headline-1-font-family);
    font-size: var(--typography-styleguide-headline-1-font-size);
    font-stretch: var(--typography-styleguide-headline-1-font-stretch);
    font-style: var(--typography-styleguide-headline-1-font-style);
    font-weight: var(--typography-styleguide-headline-1-font-weight);
    letter-spacing: var(--typography-styleguide-headline-1-letter-spacing);
    line-height: var(--typography-styleguide-headline-1-line-height);
    text-indent: var(--typography-styleguide-headline-1-paragraph-indent);
    text-transform: var(--typography-styleguide-headline-1-text-case);
    text-decoration: var(--typography-styleguide-headline-1-text-decoration);
}
.typography-styleguide-body {
    font-family: var(--typography-styleguide-body-font-family);
    font-size: var(--typography-styleguide-body-font-size);
    font-stretch: var(--typography-styleguide-body-font-stretch);
    font-style: var(--typography-styleguide-body-font-style);
    font-weight: var(--typography-styleguide-body-font-weight);
    letter-spacing: var(--typography-styleguide-body-letter-spacing);
    line-height: var(--typography-styleguide-body-line-height);
    text-indent: var(--typography-styleguide-body-paragraph-indent);
    text-transform: var(--typography-styleguide-body-text-case);
    text-decoration: var(--typography-styleguide-body-text-decoration);
}
.typography-mobile-headline-1 {
    font-family: var(--typography-mobile-headline-1-font-family);
    font-size: var(--typography-mobile-headline-1-font-size);
    font-stretch: var(--typography-mobile-headline-1-font-stretch);
    font-style: var(--typography-mobile-headline-1-font-style);
    font-weight: var(--typography-mobile-headline-1-font-weight);
    letter-spacing: var(--typography-mobile-headline-1-letter-spacing);
    line-height: var(--typography-mobile-headline-1-line-height);
    text-indent: var(--typography-mobile-headline-1-paragraph-indent);
    text-transform: var(--typography-mobile-headline-1-text-case);
    text-decoration: var(--typography-mobile-headline-1-text-decoration);
}
.typography-mobile-headline-2 {
    font-family: var(--typography-mobile-headline-2-font-family);
    font-size: var(--typography-mobile-headline-2-font-size);
    font-stretch: var(--typography-mobile-headline-2-font-stretch);
    font-style: var(--typography-mobile-headline-2-font-style);
    font-weight: var(--typography-mobile-headline-2-font-weight);
    letter-spacing: var(--typography-mobile-headline-2-letter-spacing);
    line-height: var(--typography-mobile-headline-2-line-height);
    text-indent: var(--typography-mobile-headline-2-paragraph-indent);
    text-transform: var(--typography-mobile-headline-2-text-case);
    text-decoration: var(--typography-mobile-headline-2-text-decoration);
}
