$typography-headline-3-font-size: var(--typography-headline-3-font-size);
$typography-headline-3-text-decoration: var(--typography-headline-3-text-decoration);
$typography-headline-3-font-family: var(--typography-headline-3-font-family);
$typography-headline-3-font-weight: var(--typography-headline-3-font-weight);
$typography-headline-3-font-style: var(--typography-headline-3-font-style);
$typography-headline-3-font-stretch: var(--typography-headline-3-font-stretch);
$typography-headline-3-letter-spacing: var(--typography-headline-3-letter-spacing);
$typography-headline-3-line-height: var(--typography-headline-3-line-height);
$typography-headline-3-paragraph-indent: var(--typography-headline-3-paragraph-indent);
$typography-headline-3-paragraph-spacing: var(--typography-headline-3-paragraph-spacing);
$typography-headline-3-text-case: var(--typography-headline-3-text-case);
$typography-body-1-font-size: var(--typography-body-1-font-size);
$typography-body-1-text-decoration: var(--typography-body-1-text-decoration);
$typography-body-1-font-family: var(--typography-body-1-font-family);
$typography-body-1-font-weight: var(--typography-body-1-font-weight);
$typography-body-1-font-style: var(--typography-body-1-font-style);
$typography-body-1-font-stretch: var(--typography-body-1-font-stretch);
$typography-body-1-letter-spacing: var(--typography-body-1-letter-spacing);
$typography-body-1-line-height: var(--typography-body-1-line-height);
$typography-body-1-paragraph-indent: var(--typography-body-1-paragraph-indent);
$typography-body-1-paragraph-spacing: var(--typography-body-1-paragraph-spacing);
$typography-body-1-text-case: var(--typography-body-1-text-case);
$typography-body-1-bold-font-size: var(--typography-body-1-bold-font-size);
$typography-body-1-bold-text-decoration: var(--typography-body-1-bold-text-decoration);
$typography-body-1-bold-font-family: var(--typography-body-1-bold-font-family);
$typography-body-1-bold-font-weight: var(--typography-body-1-bold-font-weight);
$typography-body-1-bold-font-style: var(--typography-body-1-bold-font-style);
$typography-body-1-bold-font-stretch: var(--typography-body-1-bold-font-stretch);
$typography-body-1-bold-letter-spacing: var(--typography-body-1-bold-letter-spacing);
$typography-body-1-bold-line-height: var(--typography-body-1-bold-line-height);
$typography-body-1-bold-paragraph-indent: var(--typography-body-1-bold-paragraph-indent);
$typography-body-1-bold-paragraph-spacing: var(--typography-body-1-bold-paragraph-spacing);
$typography-body-1-bold-text-case: var(--typography-body-1-bold-text-case);
$typography-body-2-font-size: var(--typography-body-2-font-size);
$typography-body-2-text-decoration: var(--typography-body-2-text-decoration);
$typography-body-2-font-family: var(--typography-body-2-font-family);
$typography-body-2-font-weight: var(--typography-body-2-font-weight);
$typography-body-2-font-style: var(--typography-body-2-font-style);
$typography-body-2-font-stretch: var(--typography-body-2-font-stretch);
$typography-body-2-letter-spacing: var(--typography-body-2-letter-spacing);
$typography-body-2-line-height: var(--typography-body-2-line-height);
$typography-body-2-paragraph-indent: var(--typography-body-2-paragraph-indent);
$typography-body-2-paragraph-spacing: var(--typography-body-2-paragraph-spacing);
$typography-body-2-text-case: var(--typography-body-2-text-case);
$typography-body-2-bold-font-size: var(--typography-body-2-bold-font-size);
$typography-body-2-bold-text-decoration: var(--typography-body-2-bold-text-decoration);
$typography-body-2-bold-font-family: var(--typography-body-2-bold-font-family);
$typography-body-2-bold-font-weight: var(--typography-body-2-bold-font-weight);
$typography-body-2-bold-font-style: var(--typography-body-2-bold-font-style);
$typography-body-2-bold-font-stretch: var(--typography-body-2-bold-font-stretch);
$typography-body-2-bold-letter-spacing: var(--typography-body-2-bold-letter-spacing);
$typography-body-2-bold-line-height: var(--typography-body-2-bold-line-height);
$typography-body-2-bold-paragraph-indent: var(--typography-body-2-bold-paragraph-indent);
$typography-body-2-bold-paragraph-spacing: var(--typography-body-2-bold-paragraph-spacing);
$typography-body-2-bold-text-case: var(--typography-body-2-bold-text-case);
$typography-inputfield-font-size: var(--typography-inputfield-font-size);
$typography-inputfield-text-decoration: var(--typography-inputfield-text-decoration);
$typography-inputfield-font-family: var(--typography-inputfield-font-family);
$typography-inputfield-font-weight: var(--typography-inputfield-font-weight);
$typography-inputfield-font-style: var(--typography-inputfield-font-style);
$typography-inputfield-font-stretch: var(--typography-inputfield-font-stretch);
$typography-inputfield-letter-spacing: var(--typography-inputfield-letter-spacing);
$typography-inputfield-line-height: var(--typography-inputfield-line-height);
$typography-inputfield-paragraph-indent: var(--typography-inputfield-paragraph-indent);
$typography-inputfield-paragraph-spacing: var(--typography-inputfield-paragraph-spacing);
$typography-inputfield-text-case: var(--typography-inputfield-text-case);
$typography-desktop-headline-1-font-size: var(--typography-desktop-headline-1-font-size);
$typography-desktop-headline-1-text-decoration: var(--typography-desktop-headline-1-text-decoration);
$typography-desktop-headline-1-font-family: var(--typography-desktop-headline-1-font-family);
$typography-desktop-headline-1-font-weight: var(--typography-desktop-headline-1-font-weight);
$typography-desktop-headline-1-font-style: var(--typography-desktop-headline-1-font-style);
$typography-desktop-headline-1-font-stretch: var(--typography-desktop-headline-1-font-stretch);
$typography-desktop-headline-1-letter-spacing: var(--typography-desktop-headline-1-letter-spacing);
$typography-desktop-headline-1-line-height: var(--typography-desktop-headline-1-line-height);
$typography-desktop-headline-1-paragraph-indent: var(--typography-desktop-headline-1-paragraph-indent);
$typography-desktop-headline-1-paragraph-spacing: var(--typography-desktop-headline-1-paragraph-spacing);
$typography-desktop-headline-1-text-case: var(--typography-desktop-headline-1-text-case);
$typography-desktop-headline-2-font-size: var(--typography-desktop-headline-2-font-size);
$typography-desktop-headline-2-text-decoration: var(--typography-desktop-headline-2-text-decoration);
$typography-desktop-headline-2-font-family: var(--typography-desktop-headline-2-font-family);
$typography-desktop-headline-2-font-weight: var(--typography-desktop-headline-2-font-weight);
$typography-desktop-headline-2-font-style: var(--typography-desktop-headline-2-font-style);
$typography-desktop-headline-2-font-stretch: var(--typography-desktop-headline-2-font-stretch);
$typography-desktop-headline-2-letter-spacing: var(--typography-desktop-headline-2-letter-spacing);
$typography-desktop-headline-2-line-height: var(--typography-desktop-headline-2-line-height);
$typography-desktop-headline-2-paragraph-indent: var(--typography-desktop-headline-2-paragraph-indent);
$typography-desktop-headline-2-paragraph-spacing: var(--typography-desktop-headline-2-paragraph-spacing);
$typography-desktop-headline-2-text-case: var(--typography-desktop-headline-2-text-case);
$typography-button-text-1-font-size: var(--typography-button-text-1-font-size);
$typography-button-text-1-text-decoration: var(--typography-button-text-1-text-decoration);
$typography-button-text-1-font-family: var(--typography-button-text-1-font-family);
$typography-button-text-1-font-weight: var(--typography-button-text-1-font-weight);
$typography-button-text-1-font-style: var(--typography-button-text-1-font-style);
$typography-button-text-1-font-stretch: var(--typography-button-text-1-font-stretch);
$typography-button-text-1-letter-spacing: var(--typography-button-text-1-letter-spacing);
$typography-button-text-1-line-height: var(--typography-button-text-1-line-height);
$typography-button-text-1-paragraph-indent: var(--typography-button-text-1-paragraph-indent);
$typography-button-text-1-paragraph-spacing: var(--typography-button-text-1-paragraph-spacing);
$typography-button-text-1-text-case: var(--typography-button-text-1-text-case);
$typography-button-text-2-font-size: var(--typography-button-text-2-font-size);
$typography-button-text-2-text-decoration: var(--typography-button-text-2-text-decoration);
$typography-button-text-2-font-family: var(--typography-button-text-2-font-family);
$typography-button-text-2-font-weight: var(--typography-button-text-2-font-weight);
$typography-button-text-2-font-style: var(--typography-button-text-2-font-style);
$typography-button-text-2-font-stretch: var(--typography-button-text-2-font-stretch);
$typography-button-text-2-letter-spacing: var(--typography-button-text-2-letter-spacing);
$typography-button-text-2-line-height: var(--typography-button-text-2-line-height);
$typography-button-text-2-paragraph-indent: var(--typography-button-text-2-paragraph-indent);
$typography-button-text-2-paragraph-spacing: var(--typography-button-text-2-paragraph-spacing);
$typography-button-text-2-text-case: var(--typography-button-text-2-text-case);
$typography-caption-hint-font-size: var(--typography-caption-hint-font-size);
$typography-caption-hint-text-decoration: var(--typography-caption-hint-text-decoration);
$typography-caption-hint-font-family: var(--typography-caption-hint-font-family);
$typography-caption-hint-font-weight: var(--typography-caption-hint-font-weight);
$typography-caption-hint-font-style: var(--typography-caption-hint-font-style);
$typography-caption-hint-font-stretch: var(--typography-caption-hint-font-stretch);
$typography-caption-hint-letter-spacing: var(--typography-caption-hint-letter-spacing);
$typography-caption-hint-line-height: var(--typography-caption-hint-line-height);
$typography-caption-hint-paragraph-indent: var(--typography-caption-hint-paragraph-indent);
$typography-caption-hint-paragraph-spacing: var(--typography-caption-hint-paragraph-spacing);
$typography-caption-hint-text-case: var(--typography-caption-hint-text-case);
$typography-overline-font-size: var(--typography-overline-font-size);
$typography-overline-text-decoration: var(--typography-overline-text-decoration);
$typography-overline-font-family: var(--typography-overline-font-family);
$typography-overline-font-weight: var(--typography-overline-font-weight);
$typography-overline-font-style: var(--typography-overline-font-style);
$typography-overline-font-stretch: var(--typography-overline-font-stretch);
$typography-overline-letter-spacing: var(--typography-overline-letter-spacing);
$typography-overline-line-height: var(--typography-overline-line-height);
$typography-overline-paragraph-indent: var(--typography-overline-paragraph-indent);
$typography-overline-paragraph-spacing: var(--typography-overline-paragraph-spacing);
$typography-overline-text-case: var(--typography-overline-text-case);
$typography-styleguide-title-font-size: var(--typography-styleguide-title-font-size);
$typography-styleguide-title-text-decoration: var(--typography-styleguide-title-text-decoration);
$typography-styleguide-title-font-family: var(--typography-styleguide-title-font-family);
$typography-styleguide-title-font-weight: var(--typography-styleguide-title-font-weight);
$typography-styleguide-title-font-style: var(--typography-styleguide-title-font-style);
$typography-styleguide-title-font-stretch: var(--typography-styleguide-title-font-stretch);
$typography-styleguide-title-letter-spacing: var(--typography-styleguide-title-letter-spacing);
$typography-styleguide-title-line-height: var(--typography-styleguide-title-line-height);
$typography-styleguide-title-paragraph-indent: var(--typography-styleguide-title-paragraph-indent);
$typography-styleguide-title-paragraph-spacing: var(--typography-styleguide-title-paragraph-spacing);
$typography-styleguide-title-text-case: var(--typography-styleguide-title-text-case);
$typography-styleguide-subtitle-font-size: var(--typography-styleguide-subtitle-font-size);
$typography-styleguide-subtitle-text-decoration: var(--typography-styleguide-subtitle-text-decoration);
$typography-styleguide-subtitle-font-family: var(--typography-styleguide-subtitle-font-family);
$typography-styleguide-subtitle-font-weight: var(--typography-styleguide-subtitle-font-weight);
$typography-styleguide-subtitle-font-style: var(--typography-styleguide-subtitle-font-style);
$typography-styleguide-subtitle-font-stretch: var(--typography-styleguide-subtitle-font-stretch);
$typography-styleguide-subtitle-letter-spacing: var(--typography-styleguide-subtitle-letter-spacing);
$typography-styleguide-subtitle-line-height: var(--typography-styleguide-subtitle-line-height);
$typography-styleguide-subtitle-paragraph-indent: var(--typography-styleguide-subtitle-paragraph-indent);
$typography-styleguide-subtitle-paragraph-spacing: var(--typography-styleguide-subtitle-paragraph-spacing);
$typography-styleguide-subtitle-text-case: var(--typography-styleguide-subtitle-text-case);
$typography-styleguide-headline-1-font-size: var(--typography-styleguide-headline-1-font-size);
$typography-styleguide-headline-1-text-decoration: var(--typography-styleguide-headline-1-text-decoration);
$typography-styleguide-headline-1-font-family: var(--typography-styleguide-headline-1-font-family);
$typography-styleguide-headline-1-font-weight: var(--typography-styleguide-headline-1-font-weight);
$typography-styleguide-headline-1-font-style: var(--typography-styleguide-headline-1-font-style);
$typography-styleguide-headline-1-font-stretch: var(--typography-styleguide-headline-1-font-stretch);
$typography-styleguide-headline-1-letter-spacing: var(--typography-styleguide-headline-1-letter-spacing);
$typography-styleguide-headline-1-line-height: var(--typography-styleguide-headline-1-line-height);
$typography-styleguide-headline-1-paragraph-indent: var(--typography-styleguide-headline-1-paragraph-indent);
$typography-styleguide-headline-1-paragraph-spacing: var(--typography-styleguide-headline-1-paragraph-spacing);
$typography-styleguide-headline-1-text-case: var(--typography-styleguide-headline-1-text-case);
$typography-styleguide-body-font-size: var(--typography-styleguide-body-font-size);
$typography-styleguide-body-text-decoration: var(--typography-styleguide-body-text-decoration);
$typography-styleguide-body-font-family: var(--typography-styleguide-body-font-family);
$typography-styleguide-body-font-weight: var(--typography-styleguide-body-font-weight);
$typography-styleguide-body-font-style: var(--typography-styleguide-body-font-style);
$typography-styleguide-body-font-stretch: var(--typography-styleguide-body-font-stretch);
$typography-styleguide-body-letter-spacing: var(--typography-styleguide-body-letter-spacing);
$typography-styleguide-body-line-height: var(--typography-styleguide-body-line-height);
$typography-styleguide-body-paragraph-indent: var(--typography-styleguide-body-paragraph-indent);
$typography-styleguide-body-paragraph-spacing: var(--typography-styleguide-body-paragraph-spacing);
$typography-styleguide-body-text-case: var(--typography-styleguide-body-text-case);
$typography-mobile-headline-1-font-size: var(--typography-mobile-headline-1-font-size);
$typography-mobile-headline-1-text-decoration: var(--typography-mobile-headline-1-text-decoration);
$typography-mobile-headline-1-font-family: var(--typography-mobile-headline-1-font-family);
$typography-mobile-headline-1-font-weight: var(--typography-mobile-headline-1-font-weight);
$typography-mobile-headline-1-font-style: var(--typography-mobile-headline-1-font-style);
$typography-mobile-headline-1-font-stretch: var(--typography-mobile-headline-1-font-stretch);
$typography-mobile-headline-1-letter-spacing: var(--typography-mobile-headline-1-letter-spacing);
$typography-mobile-headline-1-line-height: var(--typography-mobile-headline-1-line-height);
$typography-mobile-headline-1-paragraph-indent: var(--typography-mobile-headline-1-paragraph-indent);
$typography-mobile-headline-1-paragraph-spacing: var(--typography-mobile-headline-1-paragraph-spacing);
$typography-mobile-headline-1-text-case: var(--typography-mobile-headline-1-text-case);
$typography-mobile-headline-2-font-size: var(--typography-mobile-headline-2-font-size);
$typography-mobile-headline-2-text-decoration: var(--typography-mobile-headline-2-text-decoration);
$typography-mobile-headline-2-font-family: var(--typography-mobile-headline-2-font-family);
$typography-mobile-headline-2-font-weight: var(--typography-mobile-headline-2-font-weight);
$typography-mobile-headline-2-font-style: var(--typography-mobile-headline-2-font-style);
$typography-mobile-headline-2-font-stretch: var(--typography-mobile-headline-2-font-stretch);
$typography-mobile-headline-2-letter-spacing: var(--typography-mobile-headline-2-letter-spacing);
$typography-mobile-headline-2-line-height: var(--typography-mobile-headline-2-line-height);
$typography-mobile-headline-2-paragraph-indent: var(--typography-mobile-headline-2-paragraph-indent);
$typography-mobile-headline-2-paragraph-spacing: var(--typography-mobile-headline-2-paragraph-spacing);
$typography-mobile-headline-2-text-case: var(--typography-mobile-headline-2-text-case);
