$spacing-10-top: 10px !default;
$spacing-10-right: 10px !default;
$spacing-10-left: 10px !default;
$spacing-10-bottom: 10px !default;
$spacing-mixed-top: 10px !default;
$spacing-mixed-right: 20px !default;
$spacing-mixed-left: 20px !default;
$spacing-mixed-bottom: 30px !default;
$spacing-top-top: 10px !default;
$spacing-top-right: 0 !default;
$spacing-top-left: 0 !default;
$spacing-top-bottom: 0 !default;
