.spacing-10 {
    padding-top: $spacing-10-top;
    padding-right: $spacing-10-right;
    padding-left: $spacing-10-left;
    padding-bottom: $spacing-10-bottom;
}
.spacing-mixed {
    padding-top: $spacing-mixed-top;
    padding-right: $spacing-mixed-right;
    padding-left: $spacing-mixed-left;
    padding-bottom: $spacing-mixed-bottom;
}
.spacing-top {
    padding-top: $spacing-top-top;
    padding-right: $spacing-top-right;
    padding-left: $spacing-top-left;
    padding-bottom: $spacing-top-bottom;
}
