:root {
    --font-headline-3-font-size: 18px;
    --font-headline-3-text-decoration: none;
    --font-headline-3-font-family: Roboto;
    --font-headline-3-font-weight: 400;
    --font-headline-3-font-style: normal;
    --font-headline-3-font-stretch: normal;
    --font-headline-3-letter-spacing: 0;
    --font-headline-3-line-height: 21.6;
    --font-headline-3-paragraph-indent: 0;
    --font-headline-3-text-case: none;
    --font-body-1-font-size: 16px;
    --font-body-1-text-decoration: none;
    --font-body-1-font-family: Roboto;
    --font-body-1-font-weight: 400;
    --font-body-1-font-style: normal;
    --font-body-1-font-stretch: normal;
    --font-body-1-letter-spacing: 0;
    --font-body-1-line-height: 19.2;
    --font-body-1-paragraph-indent: 0;
    --font-body-1-text-case: none;
    --font-body-1-bold-font-size: 16px;
    --font-body-1-bold-text-decoration: none;
    --font-body-1-bold-font-family: Roboto;
    --font-body-1-bold-font-weight: 500;
    --font-body-1-bold-font-style: normal;
    --font-body-1-bold-font-stretch: normal;
    --font-body-1-bold-letter-spacing: 0;
    --font-body-1-bold-line-height: 19.2;
    --font-body-1-bold-paragraph-indent: 0;
    --font-body-1-bold-text-case: none;
    --font-body-2-font-size: 14px;
    --font-body-2-text-decoration: none;
    --font-body-2-font-family: Roboto;
    --font-body-2-font-weight: 400;
    --font-body-2-font-style: normal;
    --font-body-2-font-stretch: normal;
    --font-body-2-letter-spacing: 0;
    --font-body-2-line-height: 16.8;
    --font-body-2-paragraph-indent: 0;
    --font-body-2-text-case: none;
    --font-body-2-bold-font-size: 14px;
    --font-body-2-bold-text-decoration: none;
    --font-body-2-bold-font-family: Roboto;
    --font-body-2-bold-font-weight: 500;
    --font-body-2-bold-font-style: normal;
    --font-body-2-bold-font-stretch: normal;
    --font-body-2-bold-letter-spacing: 0;
    --font-body-2-bold-line-height: 16.8;
    --font-body-2-bold-paragraph-indent: 0;
    --font-body-2-bold-text-case: none;
    --font-inputfield-font-size: 16px;
    --font-inputfield-text-decoration: none;
    --font-inputfield-font-family: Roboto;
    --font-inputfield-font-weight: 400;
    --font-inputfield-font-style: normal;
    --font-inputfield-font-stretch: normal;
    --font-inputfield-letter-spacing: 0;
    --font-inputfield-line-height: 19.2;
    --font-inputfield-paragraph-indent: 0;
    --font-inputfield-text-case: none;
    --font-desktop-headline-1-font-size: 36px;
    --font-desktop-headline-1-text-decoration: none;
    --font-desktop-headline-1-font-family: Roboto;
    --font-desktop-headline-1-font-weight: 400;
    --font-desktop-headline-1-font-style: normal;
    --font-desktop-headline-1-font-stretch: normal;
    --font-desktop-headline-1-letter-spacing: 0;
    --font-desktop-headline-1-line-height: 43.2;
    --font-desktop-headline-1-paragraph-indent: 0;
    --font-desktop-headline-1-text-case: none;
    --font-button-text-1-font-size: 16px;
    --font-button-text-1-text-decoration: none;
    --font-button-text-1-font-family: Roboto;
    --font-button-text-1-font-weight: 500;
    --font-button-text-1-font-style: normal;
    --font-button-text-1-font-stretch: normal;
    --font-button-text-1-letter-spacing: 0;
    --font-button-text-1-line-height: 19.2;
    --font-button-text-1-paragraph-indent: 0;
    --font-button-text-1-text-case: none;
    --font-button-text-2-font-size: 14px;
    --font-button-text-2-text-decoration: none;
    --font-button-text-2-font-family: Roboto;
    --font-button-text-2-font-weight: 500;
    --font-button-text-2-font-style: normal;
    --font-button-text-2-font-stretch: normal;
    --font-button-text-2-letter-spacing: 0;
    --font-button-text-2-line-height: 16.8;
    --font-button-text-2-paragraph-indent: 0;
    --font-button-text-2-text-case: none;
    --font-caption-hint-font-size: 12px;
    --font-caption-hint-text-decoration: none;
    --font-caption-hint-font-family: Roboto;
    --font-caption-hint-font-weight: 400;
    --font-caption-hint-font-style: normal;
    --font-caption-hint-font-stretch: normal;
    --font-caption-hint-letter-spacing: 0;
    --font-caption-hint-line-height: 14.4;
    --font-caption-hint-paragraph-indent: 0;
    --font-caption-hint-text-case: none;
    --font-overline-font-size: 10px;
    --font-overline-text-decoration: none;
    --font-overline-font-family: Roboto;
    --font-overline-font-weight: 400;
    --font-overline-font-style: normal;
    --font-overline-font-stretch: normal;
    --font-overline-letter-spacing: 1px;
    --font-overline-line-height: 12;
    --font-overline-paragraph-indent: 0;
    --font-overline-text-case: uppercase;
    --font-desktop-headline-2-font-size: 24px;
    --font-desktop-headline-2-text-decoration: none;
    --font-desktop-headline-2-font-family: Roboto;
    --font-desktop-headline-2-font-weight: 400;
    --font-desktop-headline-2-font-style: normal;
    --font-desktop-headline-2-font-stretch: normal;
    --font-desktop-headline-2-letter-spacing: 0;
    --font-desktop-headline-2-line-height: 28.8;
    --font-desktop-headline-2-paragraph-indent: 0;
    --font-desktop-headline-2-text-case: none;
    --font-styleguide-title-font-size: 96px;
    --font-styleguide-title-text-decoration: none;
    --font-styleguide-title-font-family: Roboto;
    --font-styleguide-title-font-weight: 400;
    --font-styleguide-title-font-style: normal;
    --font-styleguide-title-font-stretch: normal;
    --font-styleguide-title-letter-spacing: 0;
    --font-styleguide-title-line-height: 115.2;
    --font-styleguide-title-paragraph-indent: 0;
    --font-styleguide-title-text-case: none;
    --font-styleguide-subtitle-font-size: 24px;
    --font-styleguide-subtitle-text-decoration: none;
    --font-styleguide-subtitle-font-family: Roboto;
    --font-styleguide-subtitle-font-weight: 400;
    --font-styleguide-subtitle-font-style: normal;
    --font-styleguide-subtitle-font-stretch: normal;
    --font-styleguide-subtitle-letter-spacing: 0;
    --font-styleguide-subtitle-line-height: 28.8;
    --font-styleguide-subtitle-paragraph-indent: 0;
    --font-styleguide-subtitle-text-case: none;
    --font-styleguide-headline-1-font-size: 56px;
    --font-styleguide-headline-1-text-decoration: none;
    --font-styleguide-headline-1-font-family: Roboto;
    --font-styleguide-headline-1-font-weight: 400;
    --font-styleguide-headline-1-font-style: normal;
    --font-styleguide-headline-1-font-stretch: normal;
    --font-styleguide-headline-1-letter-spacing: 0;
    --font-styleguide-headline-1-line-height: 67.2;
    --font-styleguide-headline-1-paragraph-indent: 0;
    --font-styleguide-headline-1-text-case: none;
    --font-styleguide-body-font-size: 16px;
    --font-styleguide-body-text-decoration: none;
    --font-styleguide-body-font-family: Roboto;
    --font-styleguide-body-font-weight: 400;
    --font-styleguide-body-font-style: normal;
    --font-styleguide-body-font-stretch: normal;
    --font-styleguide-body-letter-spacing: 0;
    --font-styleguide-body-line-height: 19.2;
    --font-styleguide-body-paragraph-indent: 0;
    --font-styleguide-body-text-case: none;
    --font-mobile-headline-1-font-size: 28px;
    --font-mobile-headline-1-text-decoration: none;
    --font-mobile-headline-1-font-family: Roboto;
    --font-mobile-headline-1-font-weight: 400;
    --font-mobile-headline-1-font-style: normal;
    --font-mobile-headline-1-font-stretch: normal;
    --font-mobile-headline-1-letter-spacing: 0;
    --font-mobile-headline-1-line-height: 33.6;
    --font-mobile-headline-1-paragraph-indent: 0;
    --font-mobile-headline-1-text-case: none;
    --font-mobile-headline-2-font-size: 22px;
    --font-mobile-headline-2-text-decoration: none;
    --font-mobile-headline-2-font-family: Roboto;
    --font-mobile-headline-2-font-weight: 400;
    --font-mobile-headline-2-font-style: normal;
    --font-mobile-headline-2-font-stretch: normal;
    --font-mobile-headline-2-letter-spacing: 0;
    --font-mobile-headline-2-line-height: 26.4;
    --font-mobile-headline-2-paragraph-indent: 0;
    --font-mobile-headline-2-text-case: none;
}

.font-headline-3 {
    font-family: var(--font-headline-3-font-family);
    font-size: var(--font-headline-3-font-size);
    font-stretch: var(--font-headline-3-font-stretch);
    font-style: var(--font-headline-3-font-style);
    font-weight: var(--font-headline-3-font-weight);
    letter-spacing: var(--font-headline-3-letter-spacing);
    line-height: var(--font-headline-3-line-height);
    text-indent: var(--font-headline-3-paragraph-indent);
    text-transform: var(--font-headline-3-text-case);
    text-decoration: var(--font-headline-3-text-decoration);
}
.font-body-1 {
    font-family: var(--font-body-1-font-family);
    font-size: var(--font-body-1-font-size);
    font-stretch: var(--font-body-1-font-stretch);
    font-style: var(--font-body-1-font-style);
    font-weight: var(--font-body-1-font-weight);
    letter-spacing: var(--font-body-1-letter-spacing);
    line-height: var(--font-body-1-line-height);
    text-indent: var(--font-body-1-paragraph-indent);
    text-transform: var(--font-body-1-text-case);
    text-decoration: var(--font-body-1-text-decoration);
}
.font-body-1-bold {
    font-family: var(--font-body-1-bold-font-family);
    font-size: var(--font-body-1-bold-font-size);
    font-stretch: var(--font-body-1-bold-font-stretch);
    font-style: var(--font-body-1-bold-font-style);
    font-weight: var(--font-body-1-bold-font-weight);
    letter-spacing: var(--font-body-1-bold-letter-spacing);
    line-height: var(--font-body-1-bold-line-height);
    text-indent: var(--font-body-1-bold-paragraph-indent);
    text-transform: var(--font-body-1-bold-text-case);
    text-decoration: var(--font-body-1-bold-text-decoration);
}
.font-body-2 {
    font-family: var(--font-body-2-font-family);
    font-size: var(--font-body-2-font-size);
    font-stretch: var(--font-body-2-font-stretch);
    font-style: var(--font-body-2-font-style);
    font-weight: var(--font-body-2-font-weight);
    letter-spacing: var(--font-body-2-letter-spacing);
    line-height: var(--font-body-2-line-height);
    text-indent: var(--font-body-2-paragraph-indent);
    text-transform: var(--font-body-2-text-case);
    text-decoration: var(--font-body-2-text-decoration);
}
.font-body-2-bold {
    font-family: var(--font-body-2-bold-font-family);
    font-size: var(--font-body-2-bold-font-size);
    font-stretch: var(--font-body-2-bold-font-stretch);
    font-style: var(--font-body-2-bold-font-style);
    font-weight: var(--font-body-2-bold-font-weight);
    letter-spacing: var(--font-body-2-bold-letter-spacing);
    line-height: var(--font-body-2-bold-line-height);
    text-indent: var(--font-body-2-bold-paragraph-indent);
    text-transform: var(--font-body-2-bold-text-case);
    text-decoration: var(--font-body-2-bold-text-decoration);
}
.font-inputfield {
    font-family: var(--font-inputfield-font-family);
    font-size: var(--font-inputfield-font-size);
    font-stretch: var(--font-inputfield-font-stretch);
    font-style: var(--font-inputfield-font-style);
    font-weight: var(--font-inputfield-font-weight);
    letter-spacing: var(--font-inputfield-letter-spacing);
    line-height: var(--font-inputfield-line-height);
    text-indent: var(--font-inputfield-paragraph-indent);
    text-transform: var(--font-inputfield-text-case);
    text-decoration: var(--font-inputfield-text-decoration);
}
.font-desktop-headline-1 {
    font-family: var(--font-desktop-headline-1-font-family);
    font-size: var(--font-desktop-headline-1-font-size);
    font-stretch: var(--font-desktop-headline-1-font-stretch);
    font-style: var(--font-desktop-headline-1-font-style);
    font-weight: var(--font-desktop-headline-1-font-weight);
    letter-spacing: var(--font-desktop-headline-1-letter-spacing);
    line-height: var(--font-desktop-headline-1-line-height);
    text-indent: var(--font-desktop-headline-1-paragraph-indent);
    text-transform: var(--font-desktop-headline-1-text-case);
    text-decoration: var(--font-desktop-headline-1-text-decoration);
}
.font-button-text-1 {
    font-family: var(--font-button-text-1-font-family);
    font-size: var(--font-button-text-1-font-size);
    font-stretch: var(--font-button-text-1-font-stretch);
    font-style: var(--font-button-text-1-font-style);
    font-weight: var(--font-button-text-1-font-weight);
    letter-spacing: var(--font-button-text-1-letter-spacing);
    line-height: var(--font-button-text-1-line-height);
    text-indent: var(--font-button-text-1-paragraph-indent);
    text-transform: var(--font-button-text-1-text-case);
    text-decoration: var(--font-button-text-1-text-decoration);
}
.font-button-text-2 {
    font-family: var(--font-button-text-2-font-family);
    font-size: var(--font-button-text-2-font-size);
    font-stretch: var(--font-button-text-2-font-stretch);
    font-style: var(--font-button-text-2-font-style);
    font-weight: var(--font-button-text-2-font-weight);
    letter-spacing: var(--font-button-text-2-letter-spacing);
    line-height: var(--font-button-text-2-line-height);
    text-indent: var(--font-button-text-2-paragraph-indent);
    text-transform: var(--font-button-text-2-text-case);
    text-decoration: var(--font-button-text-2-text-decoration);
}
.font-caption-hint {
    font-family: var(--font-caption-hint-font-family);
    font-size: var(--font-caption-hint-font-size);
    font-stretch: var(--font-caption-hint-font-stretch);
    font-style: var(--font-caption-hint-font-style);
    font-weight: var(--font-caption-hint-font-weight);
    letter-spacing: var(--font-caption-hint-letter-spacing);
    line-height: var(--font-caption-hint-line-height);
    text-indent: var(--font-caption-hint-paragraph-indent);
    text-transform: var(--font-caption-hint-text-case);
    text-decoration: var(--font-caption-hint-text-decoration);
}
.font-overline {
    font-family: var(--font-overline-font-family);
    font-size: var(--font-overline-font-size);
    font-stretch: var(--font-overline-font-stretch);
    font-style: var(--font-overline-font-style);
    font-weight: var(--font-overline-font-weight);
    letter-spacing: var(--font-overline-letter-spacing);
    line-height: var(--font-overline-line-height);
    text-indent: var(--font-overline-paragraph-indent);
    text-transform: var(--font-overline-text-case);
    text-decoration: var(--font-overline-text-decoration);
}
.font-desktop-headline-2 {
    font-family: var(--font-desktop-headline-2-font-family);
    font-size: var(--font-desktop-headline-2-font-size);
    font-stretch: var(--font-desktop-headline-2-font-stretch);
    font-style: var(--font-desktop-headline-2-font-style);
    font-weight: var(--font-desktop-headline-2-font-weight);
    letter-spacing: var(--font-desktop-headline-2-letter-spacing);
    line-height: var(--font-desktop-headline-2-line-height);
    text-indent: var(--font-desktop-headline-2-paragraph-indent);
    text-transform: var(--font-desktop-headline-2-text-case);
    text-decoration: var(--font-desktop-headline-2-text-decoration);
}
.font-styleguide-title {
    font-family: var(--font-styleguide-title-font-family);
    font-size: var(--font-styleguide-title-font-size);
    font-stretch: var(--font-styleguide-title-font-stretch);
    font-style: var(--font-styleguide-title-font-style);
    font-weight: var(--font-styleguide-title-font-weight);
    letter-spacing: var(--font-styleguide-title-letter-spacing);
    line-height: var(--font-styleguide-title-line-height);
    text-indent: var(--font-styleguide-title-paragraph-indent);
    text-transform: var(--font-styleguide-title-text-case);
    text-decoration: var(--font-styleguide-title-text-decoration);
}
.font-styleguide-subtitle {
    font-family: var(--font-styleguide-subtitle-font-family);
    font-size: var(--font-styleguide-subtitle-font-size);
    font-stretch: var(--font-styleguide-subtitle-font-stretch);
    font-style: var(--font-styleguide-subtitle-font-style);
    font-weight: var(--font-styleguide-subtitle-font-weight);
    letter-spacing: var(--font-styleguide-subtitle-letter-spacing);
    line-height: var(--font-styleguide-subtitle-line-height);
    text-indent: var(--font-styleguide-subtitle-paragraph-indent);
    text-transform: var(--font-styleguide-subtitle-text-case);
    text-decoration: var(--font-styleguide-subtitle-text-decoration);
}
.font-styleguide-headline-1 {
    font-family: var(--font-styleguide-headline-1-font-family);
    font-size: var(--font-styleguide-headline-1-font-size);
    font-stretch: var(--font-styleguide-headline-1-font-stretch);
    font-style: var(--font-styleguide-headline-1-font-style);
    font-weight: var(--font-styleguide-headline-1-font-weight);
    letter-spacing: var(--font-styleguide-headline-1-letter-spacing);
    line-height: var(--font-styleguide-headline-1-line-height);
    text-indent: var(--font-styleguide-headline-1-paragraph-indent);
    text-transform: var(--font-styleguide-headline-1-text-case);
    text-decoration: var(--font-styleguide-headline-1-text-decoration);
}
.font-styleguide-body {
    font-family: var(--font-styleguide-body-font-family);
    font-size: var(--font-styleguide-body-font-size);
    font-stretch: var(--font-styleguide-body-font-stretch);
    font-style: var(--font-styleguide-body-font-style);
    font-weight: var(--font-styleguide-body-font-weight);
    letter-spacing: var(--font-styleguide-body-letter-spacing);
    line-height: var(--font-styleguide-body-line-height);
    text-indent: var(--font-styleguide-body-paragraph-indent);
    text-transform: var(--font-styleguide-body-text-case);
    text-decoration: var(--font-styleguide-body-text-decoration);
}
.font-mobile-headline-1 {
    font-family: var(--font-mobile-headline-1-font-family);
    font-size: var(--font-mobile-headline-1-font-size);
    font-stretch: var(--font-mobile-headline-1-font-stretch);
    font-style: var(--font-mobile-headline-1-font-style);
    font-weight: var(--font-mobile-headline-1-font-weight);
    letter-spacing: var(--font-mobile-headline-1-letter-spacing);
    line-height: var(--font-mobile-headline-1-line-height);
    text-indent: var(--font-mobile-headline-1-paragraph-indent);
    text-transform: var(--font-mobile-headline-1-text-case);
    text-decoration: var(--font-mobile-headline-1-text-decoration);
}
.font-mobile-headline-2 {
    font-family: var(--font-mobile-headline-2-font-family);
    font-size: var(--font-mobile-headline-2-font-size);
    font-stretch: var(--font-mobile-headline-2-font-stretch);
    font-style: var(--font-mobile-headline-2-font-style);
    font-weight: var(--font-mobile-headline-2-font-weight);
    letter-spacing: var(--font-mobile-headline-2-letter-spacing);
    line-height: var(--font-mobile-headline-2-line-height);
    text-indent: var(--font-mobile-headline-2-paragraph-indent);
    text-transform: var(--font-mobile-headline-2-text-case);
    text-decoration: var(--font-mobile-headline-2-text-decoration);
}
