$radius-equal-top-left: 5px !default;
$radius-equal-top-right: 5px !default;
$radius-equal-bottom-left: 5px !default;
$radius-equal-bottom-right: 5px !default;
$radius-mixed-top-left: 5.5px !default;
$radius-mixed-top-right: 10px !default;
$radius-mixed-bottom-left: 20px !default;
$radius-mixed-bottom-right: 15px !default;
