$borders-single-width: var(--borders-single-width);
$borders-single-color: var(--borders-single-color);
$borders-dashed-outside-width: var(--borders-dashed-outside-width);
$borders-dashed-outside-color: var(--borders-dashed-outside-color);
$borders-single-style-width: var(--borders-single-style-width);
$borders-single-style-color: var(--borders-single-style-color);
