$effect-drop-shadow-single-radius: var(--effect-drop-shadow-single-radius);
$effect-drop-shadow-single-color: var(--effect-drop-shadow-single-color);
$effect-drop-shadow-single-offset-x: var(--effect-drop-shadow-single-offset-x);
$effect-drop-shadow-single-offset-y: var(--effect-drop-shadow-single-offset-y);
