$effect-drop-shadow-single-radius: 4px !default;
$effect-drop-shadow-single-color: #000000 !default;
$effect-drop-shadow-single-offset-x: 0 !default;
$effect-drop-shadow-single-offset-y: 4px !default;
